body {
    justify-content: center;
}

.checkout-nav-bar {
    height: 25px;
    width: 100%;
    background-color: orangered;
}

.checkout-header-title {
    /* background-color: aquamarine; */
    height: 100px;
    width: 1248px;
    border-bottom: 1px solid rgb(219, 217, 217);
    margin: 0 0 12px 0;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 1px 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.checkout-header-title-name {
    height: 46px;
    width: 1182px;
    font-size: 24px;
    /* display: flex; */
    /* background-color: burlywood; */
    margin: auto;
}

.checkout-header-title-name img {
    width: 40px;
    height: 40px;
}

.checkout-header-title-checkout {
    font-size: 18px;
    height: 30px;
    width: 40px;
    border-left: 1px solid #EE4D2D;
    margin: 0 0 2px 15px;
    padding: 0 0 0 15px;
    display: inline;
}

.checkout-order-detail {
    background-color: chocolate;
}

.checkout-order-discount-allshop-ticket {
    /* background-color: darkgoldenrod; */
    height: 100px;
    width: 1200px;
    border-bottom: 1px solid rgb(219, 217, 217);
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 1px 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-top: 1px lightgrey solid;
}

.allshop-ticket-title {
    display: flex;
    font-size: 18px;
    /* background-color: darkkhaki; */
    width: 1004px;
    height: 23px;
    margin: 0 0 0 15px;
    align-self: center;
}

.allshop-ticket-select {
    display: flex;
    font-size: 14px;
    align-self: center;
    color: rgb(17, 17, 138);
    justify-self: right;
    padding: 10px;
    margin: 0 0 0 30px;
    cursor: pointer;
}

.checkout-order-detail-title {
    height: 50px;
    width: 1140px;
    padding: 24px 30px 0 30px;
    display: flex;
    /* background-color: darkolivegreen; */
    align-items: center;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.09) 1px 1px 1px 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: lightgrey 1px solid;
    border-right: lightgrey 1px solid;
    border-top: lightgrey 1px solid;
}

.checkout-order-detail-title-container {
    height: 30px;
    width: 1140px;
    display: flex;
    /* background-color: darkseagreen; */
}

.detail-title-container-name {
    font-size: 18px;
    height: 21.3333px;
    width: 456px;
    display: flex;
    margin: 4px 0 0 10px;
    /* background-color: fuchsia; */
}

.detail-title-container-unitprice {
    font-size: 14px;
    color: rgb(153, 153, 153);
    text-align: center;
    height: 16.6667px;
    width: 114px;
    display: block;
    margin: 6px 0 0 105px;
    /* background-color: khaki; */
}

.detail-title-container-quantity {
    font-size: 14px;
    color: rgb(153, 153, 153);
    text-align: center;
    height: 16.6667px;
    width: 114px;
    display: block;
    margin: 6px 0px;
    /* background-color: darkblue; */
}

.detail-title-container-totalprice {
    font-size: 14px;
    color: rgb(153, 153, 153);
    text-align: right;
    height: 16.6667px;
    width: 228px;
    display: block;
    margin: 6px 2px 0 110px;
    /* background-color: teal; */
}

.checkout-order-detail-title-contanier {
    height: 50px;
    width: 1152px;
    padding: 0 30px 0 18px;
    display: flex;
    /* background-color: darkorchid; */
    margin: auto;
    border-left: lightgrey 1px solid;
    border-right: lightgrey 1px solid;
}

.checkout-order-detail-title-contanier img {
    width: 15px;
    height: 15px;
    margin: 16px;
    cursor: pointer;
}

.checkout-order-detail-title-contanier p {
    font-size: 14px;
    height: 16.6667px;
    width: 70px;
    margin: 14px 0 0 -11px;
    cursor: pointer;
}

.checkout-order-detail-title-contanier-talk {
    font-size: 14px;
    color: rgb(218, 125, 49);
    height: 16.6667px;
    width: 62px;
    border-left: 1px solid lightgrey;
    margin: 15px 0px 0px 10px;
    display: flex;
    cursor: pointer;
}

.checkout-order-detail-title-contanier-talk img {
    height: 30px;
    width: 28px;
    margin: -7px 1px 0px 5px;
    cursor: pointer;
}

.checkout-order-detail-title-contanier-content {
    height: 55px;
    width: 1200px;
    border-bottom: 1px dashed lightgrey;
    padding: 0 0 20px 0;
    display: block;
    /* background-color: darksalmon; */
    margin: auto;
    display: flex;
    border-left: lightgrey 1px solid;
    border-right: lightgrey 1px solid;
}

.checkout-order-detail-title-contanier-content-a {
    height: 55px;
    width: 456px;
    display: flex;
    /* background-color: darkgoldenrod; */
    margin: 0 0 0 30px;
}

.checkout-order-detail-title-contanier-content-a img {
    height: 40px;
    width: 36.6667px;
    margin: 8px 5px;
}

.checkout-order-detail-title-contanier-content-a-ordername {
    font-size: 14px;
    height: 16.6667px;
    width: 389.333px;
    margin: 20px 0 0 2px;
    /* background-color: darkolivegreen; */
    display: flex;
}

.checkout-order-detail-title-contanier-content-a-select {
    height: 55px;
    width: 230px;
    display: flex;
    /* background-color: darkorange; */
}

.checkout-order-detail-title-contanier-content-a-select span {
    font-size: 14px;
    color: rgb(153, 153, 153);
    height: 18px;
    width: 123px;
    padding: 19px 0 0 16px;
}

.checkout-order-detail-title-contanier-content-a-unitprice {
    height: 20px;
    width: 65px;
    margin: 20px 0px 0px 11px;
}

.checkout-order-detail-title-contanier-content-a-unitprice span {
    width: 50px;
    height: 50px;
}

.checkout-order-detail-title-contanier-content-a-quantity {
    /* background-color: darkred; */
    height: 55px;
    width: 116px;
    display: flex;
    justify-content: center;
}

.checkout-order-detail-title-contanier-content-a-quantity span {
    display: flex;
    align-items: center;
}

.checkout-order-detail-title-contanier-content-a-totalprice {
    /* background-color: forestgreen; */
    height: 55px;
    width: 230px;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 108px;
}

.checkout-order-detail-title-contanier-content-a-totalprice span {
    display: flex;
    align-self: center;
}

.checkout-order-detail-title-contanier-content-discount {
    height: 22.9479px;
    width: 1140px;
    border-bottom: 1px dashed lightgrey;
    padding: 18px 30px 18px 30px;
    display: flex;
    /* background-color: deepskyblue; */
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 1px 0px;
    border-bottom-left-radius: 3px;
    border-left: lightgrey 1px solid;
    border-right: lightgrey 1px solid;
}

.content-discount-seller {
    height: 23px;
    width: 684px;
    display: flex;
    /* background-color: rgb(54, 60, 71); */
    justify-content: flex-end;
}

.content-discount-sellercoupon {
    display: flex;
    height: 23px;
    width: 24px;
    margin: 0 3px 0 0;
    justify-content: flex-end;
}

.content-discount-sellercoupon-name {
    font-size: 14px;
    margin: 2px 4px 0 0px;
}

.content-discount-sellercoupon img {
    height: 23px;
    width: 30px;
    justify-content: flex-end;
}

.content-discount-other {
    /* background-color: darkseagreen; */
    height: 23px;
    width: 456px;
    display: flex;
    justify-content: flex-end;
}

.content-discount-other img {
    height: 19px;
    width: 35px;
    margin: 2px 4px 0 0;
    display: flex;
}

.content-discount-changecoupon {
    font-size: 14px;
    color: rgb(17, 17, 138);
    margin: 2px 0 0 0;
    cursor: pointer;
}

.checkout-order-detail-title-contanier-content-information {
    height: 95px;
    width: 1200px;
    display: flex;
    /* background-color: firebrick; */
    margin: auto;
    border-left: lightgrey 1px solid;
    border-right: lightgrey 1px solid;
}

.content-information-message {
    /* background-color: hotpink; */
    height: 55px;
    width: 700px;
    padding: 16px 30px 16px 30px;
    display: flex;
}

.content-information-message span {
    height: 55px;
    width: 42px;
    /* background-color: palegoldenrod; */
}

.content-information-message input {
    height: 40px;
    width: 361px;
    margin: 0 0 0 5px;
    padding: 4px 12px 4px 12px;
    cursor: text;
}

.content-information-address {
    /* background-color: lawngreen; */
    height: 100%;
    width: 100%;
    border-left: 1px dashed lightgrey;
    /* padding: 16px 0 16px 0; */
    display: flex;
    justify-content: space-evenly;
}

.information-address-sending-container {
    display: flex;
    flex-direction: column;
}

.information-address-personal-container {
    display: flex;
    flex-direction: column;
}

.information-address-sendinfo {
    font-size: 14px;
    color: cadetblue;
    height: 16.6667px;
    width: 150px;
    display: flex;
    /* background-color: peru; */
    margin: 15px 0 10px -33px;
}

.information-address-shipping {
    font-size: 15px;
    /* background-color: plum; */
    margin: 15px 0 8px -3px;
}

.information-address-sendingways {
    font-size: 14px;
    /* background-color: purple; */
    height: 16.6667px;
    width: 150px;
    margin: 0 0 0 -33px;
}

.information-address-personal {
    display: flex;
    margin: 42px 40px 0px 0;
}

.information-address-shipping-container {
    display: flex;
    flex-direction: column;
    margin: 0px -6px 0 35px;
}

.information-address-username {
    font-size: 14px;
    /* background-color: royalblue; */
    height: 17px;
    width: 50px;
    margin: -2px 0 0 0;
}

.information-address-telephone {
    font-size: 14px;
    /* background-color: seagreen; */
    height: 17px;
    width: 115px;
    /* text-indent: 5px; */
}

.information-address-useraddress {
    font-size: 14px;
    height: 17px;
    width: 190px;
    margin: -3px 0px 0 1px;
    /* background-color: tan; */
}

.information-address-expireddate {
    font-size: 12px;
    height: 14px;
    /* width: 535px; */
    /* background-color: tomato; */
}

.information-address-changesendingways {
    font-size: 14px;
    /* height: 17px; */
    /* width: 105px; */
    color: rgb(17, 17, 138);
    /* background-color: yellow; */
    cursor: pointer;
    margin: 0px 8px 0 -5px;
}

.checkout-order-detail-title-contanier-content-totalprice {
    height: 73px;
    width: 1140px;
    padding: 0 30px 0 30px;
    display: flex;
    /* background-color: goldenrod; */
    margin: auto;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid rgb(219, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 1px 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: lightgrey 1px solid;
    border-right: lightgrey 1px solid;
}

.content-totalprice-title {
    font-size: 14px;
    color: rgb(153, 153, 153);
    height: 16.6667px;
    width: 112.781px;
    /* background-color: lightseagreen; */
    display: flex;
}

.content-totalprice-title-endprice {
    font-size: 20px;
    color: rgb(209, 96, 55);
    height: 24px;
    width: 61.1771px;
    margin: 0 0 0 20px;
    /* background-color: maroon; */
    display: flex;
}