body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
    font-size: 14px;
    line-height: 16.8px;
}

body {
    background-color: rgb(238, 238, 238);
}

div {
    box-sizing: border-box;
}

.sellerorder-page {
    padding-top: 100px;
    display: flex;
    width: 100%;
}

.sellerorder-container {
    display: flex;
    margin: 0 auto;
    max-width: 90%;
}

.sellerorder-content {
    justify-content: center;
    display: flex;
}

.sellerorder-content-container {
    background-color: white;
    min-width: 600px;
    padding: 15px 15px 35px;
    margin: 0 auto;
}


/* .sellerorder-container-bar {
    height: 59px;
    width: 85%;
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(187, 187, 187);
}

.sellerorder-container-bar-title {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 57px;
    width: 25%;

border-bottom: 3px solid transparent;

}
.sellerorder-container-bar-title:hover {
    border-bottom: 3px solid rgb(255, 181, 44);
}
.sellerorder-container-bar-list {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 57px;
    width: 250px;
    border-bottom: 3px solid transparent;
}
.sellerorder-container-b-a {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.sellerorder-container-b-a-a {
    width: 85%;
    display: flex;
}
.sellerorder-container-b-a-a-a {
    width: 50%;
}
.sellerorder-container-b-a-a-b {
    width: 50%;
    display: flex;
}
.sellerorder-container-b-a-a-b-a {
    width: 10%;
    text-align: right;
    margin-right: 10px;
}
input {
    outline: none;
}
.sellerorder-container-b-a-a-b-b {
    width: 85%;
}
.sellerorder-container-c {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.sellerorder-container-c-a {
    width: 85%;
    display: flex;
}
.sellerorder-container-c-a-a {
    width: 50%;
    display: flex;
    align-items: center;
}
.sellerorder-container-c-a-a-a {
    display: flex;
}
.sellerorder-container-c-a-a-b {
    display: flex;
    margin-left: 10px;
    width: 25%;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid green;
    align-items: center;
}
.sellerorder-container-c-a-b {
    width: 50%;
    display: flex;
} */

.orderlist {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.orderlist-title {
    width: 100%;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;
}

.orderlist-table {
    width: 90%;
}

.orderlist-row {
    border: 2px solid rgb(225, 225, 225);
    border-bottom: none;
    display: grid;
    grid-template-columns: 6fr 3fr 3fr 2fr 2fr 4fr;
    column-gap: 1%;
    align-items: center;
    min-width: 530px;
}

.orderlist-head {
    background-color: rgb(245, 245, 245);
    height: 59px;
}

.orderlist-row-column {
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
    height: 57px;
    min-width: 80px;
}

.orderlist-item {
    height: 104px;
}

.orderlist-table .orderlist-row:last-of-type {
    border-bottom: 2px solid rgb(225, 225, 225);
}

.orderlist-item-prodpic {
    width: 20%;
}

.orderlist-item-prodpic img {
    max-width: 100%;
    max-height: 100%;
}

.orderlist-item-prodname {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}


/* .orderlist-page-sel {
    width: 100%;
    display: flex;
    justify-content: center;
}

.orderlist-page-sel-a {
    height: 59px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 2px solid rgb(225, 225, 225);
}

.orderlist-page-sel-a-a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 57px;
    width: 90px;
    border-bottom: 3px solid transparent;
}

.orderlist-page-sel-a-b {
    align-items: center;
    width: 60px;
    border-bottom: 3px solid transparent;
    display: flex;
    border: 1px solid black;
    margin-right: 20px;
    justify-content: center;
}

.orderlist-page-sel-a-b>div>input {
    border: none;
    background-color: white;
}

.orderlist-page-sel-sel {
    position: absolute;
    width: 60px;
    visibility: hidden;
    margin-top: 50px;
} */

.insert-button {
    width: 80px;
    height: 40px;
    margin: 30px 120px 10px 0;
    background-color: #ffd86e;
    border: rgb(155, 155, 155) 1px solid;
    border-radius: 3px;
    color: black;
}

.insert-button:hover {
    background-color: #ffe291;
    cursor: pointer;
}

.modify-button {
    padding: 5px 10px;
    background-color: rgb(255, 226, 172);
    border-radius: 3px;
    border: gray 1px solid;
    font-size: 13px;
}

.modify-button:hover {
    background-color: rgb(255, 238, 208);
}

.delete-button {
    padding: 5px 10px;
    background-color: rgb(206, 122, 89);
    border-radius: 3px;
    border: gray 1px solid;
    font-size: 13px;
}

.delete-button:hover {
    background-color: rgb(255, 165, 130);
}