<html xmlns:th="http://www.thymeleaf.org">

<head>
<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<meta charset="UTF-8" />
<link rel="stylesheet" href="../../css/account.css" />
<link rel="stylesheet" href="../../css/Bear_Shop.css" />
</head>
<body ondragstart="return false" oncopy="return false;">

	<div th:insert="model/header::header"></div>

	<!-- ------------------------------------------------主頁面------------------------------------------------------------- -->
	<div class="main">

		<div class="main-user" th:insert="model/leftBar::leftBar"></div>

		<div class="main-right-profile">
			<div class="main-right-profile-a">
				<div id="main-right-list-1" class="main-right-profile-title">
					<div class="main-right-profile-title-desc">
						<b>我的檔案</b><br> 管理你的檔案以保護你的帳戶
					</div>
				</div>
				<form action="" th:action="@{/main-page/acc}" th:object="${acc}" method="post"
					id="table_refresh" enctype="multipart/form-data">
					<div class="main-right-profile-container">
						<div class="main-right-profile-left-container">
							<div class="main-right-profile-list-account">
								<div class="main-right-profile-list-account-a">使用者帳號</div>
								<input th:name="|userAccount|" th:value="*{userAccount}" readonly="readonly">
							</div>

							<div class="main-right-profile-list-neme">
								<div class="main-right-profile-list-neme-a">姓名</div>
								<div class="main-right-profile-list-neme-b">
									<div class="main-right-profile-list-neme-c">
										<input th:name="|realName|" th:value="*{realName}"
											class="main-right-profile-list-neme-input" type="text">
									</div>
								</div>
							</div>
							<div class="main-right-profile-list-email">
								<div class="main-right-profile-list-email-a">Email</div>
								<div class="main-right-profile-list-neme-b">
									<div class="main-right-profile-list-neme-c">
										<input th:name="|email|" th:value="*{email}">
									</div>
								</div>

							</div>
							<div class="main-right-profile-list-phone">
								<div class="main-right-profile-list-phone-a">手機號碼</div>
								<div class="main-right-profile-list-neme-b">
									<div class="main-right-profile-list-neme-c">
								<input type="text" th:name="|tel|" th:value="*{tel}">
								</div>
								</div>

							</div>

							<div class="main-right-profile-list-sex">
								<div class="main-right-profile-list-sex-a">性別</div>
								<div>
									<label for="my-radio1"> <input id="my-radio1" type="radio" name="my-radio"
										value="man" th:checked="*{gender}eq 'man'" th:name="|gender|">男
									</label>
								</div>
								<div>
									<label for="my-radio2"> <input id="my-radio2" type="radio" name="my-radio"
										value="women" th:checked="*{gender}eq 'women'" th:name="|gender|">女
									</label>
								</div>
								<div>
									<label for="my-radio3"> <input id="my-radio3" type="radio" name="my-radio"
										value="other" th:name="|gender|" th:checked="*{gender}eq 'other'">其他
									</label>
								</div>
							</div>

							<div class="main-right-profile-list-birth">
								<div class="main-right-profile-list-birth-a">生日</div>



								<div class="birth-year">
									<div class="birth-year-a" id="Select_Year">

										<div class="birth-year-b" onclick="btn_input_year_list()">
											<input th:name="|year|" th:value="*{year}" name="year"
												class="main-left-list-name birth-year-input" id="input-list" type="text" readonly
												value="請選擇">
											<div class="birth-year-c">
												<div class="birth-year-d">年</div>
											</div>
										</div>
										<select size="5" class="input-sel-list" id="input-sel" onclick="input_year_sel()">
										</select>
									</div>

								</div>

								<div class="birth-month">
									<div class="birth-month-a" id="Select_Month">


										<div class="birth-month-b" onclick="btn_input_month_list()">
											<input th:name="|month|" th:value="*{month}" name="month"
												class="main-left-list-name birth-month-input" id="input-month-list" type="text" readonly
												value="請選擇">
											<div class="birth-month-c">
												<div class="birth-month-d">月</div>
											</div>
										</div>
										<select size="5" name="" class="input-sel-list" id="input-month-sel"
											onclick="input_month_sel()"></select>
									</div>

								</div>

								<div class="birth-day">
									<div class="birth-day-a" id="Select_Day">


										<div class="birth-day-b" onclick="btn_input_day_list()">
											<input th:name="|day|" th:value="*{day}" name="day"
												class="main-left-list-name birth-day-input" id="input-day-list" type="text" readonly
												value="請選擇">
											<div class="birth-day-c">
												<div class="birth-day-d">日</div>
											</div>
										</div>
										<select size="5" name="" class="input-sel-list" id="input-day-sel"
											onclick="input_day_sel()"></select>
									</div>

								</div>

							</div>

							<div class="main-right-profile-btn-a">
								<div class="main-right-profile-btn-b"></div>
								<div class="main-right-profile-btn-c">
									<button type="submit" class="main-right-profile-save-btn" onClick="localRefresh()">
										<div>儲存</div>
									</button>
								</div>
							</div>
						</div>
						<div class="main-right-profile-right-container">
							<img class="main-right-profile-right-container-img" th:src="*{memberPhoto}!=null?*{memberPhoto}:'../pic/bear.png'"  alt="請上傳圖片">
							<div class="main-right-profile-right-container-a">
								<label for="file"> <input type="file" id="FileTypeIcon"
									class="main-right-profile-right-container-img-2" th:name="file">
								</label>
							</div>
							<div>檔案大小:最大1MB</div>
							<div>檔案限制: .JPEG, .PNG</div>
						</div>
					</div>
				</form>
			</div>
		</div>


	</div>

	<br>
	<br>
	<hr class="main-page-container-hr" />
	<br>
	<br>

	<div th:insert="model/footer::footer"></div>
	<script src="../../js/profile.js"></script>
	<script src="../../js/user.js" defer></script>
	<script type="text/javascript">
		
	</script>

</body>

</html>