<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/BearShop.css}">
    <meta charset="UTF-8">
    <script defer src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/item.css}">
    <script defer th:src="@{/js/change.js}"></script>
    <script defer th:src="@{/js/user.js}"></script>
</head>

<body ondragstart="return false" oncopy="return false;">
    <nav class="Bear-header-top">
        <ul>
            <li> <a href=""> <strong>賣家中心</strong> </a> </li>
            <li style="user-select: none;">|</li>
            <li> <a href=""><strong>下載</strong> </a> </li>
            <li style="user-select: none;"> |</li>
            <li><a href=""> <strong>追蹤我們</strong></a> </li>
            <a href=""><img class="Bear-header-top-icon" src="../pic/FB.svg"
                    alt=""></a>
            <a href=""><img class="Bear-header-top-icon" src="../pic/Line.svg"
                    alt=""></a>
            <a href=""><img class="Bear-header-top-icon" src="../pic/IG.svg"
                    alt=""></a>
            <li style="user-select: none; visibility: hidden;">
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            </li>
            <li> <a href=""><img src="../pic/Bell.svg" style="width: 18px;"
                        alt=""> <strong>通知總覽</strong></a> </li>
            <li> <a href=""><img src="../pic/Help_icon.svg"
                        alt=""><strong>幫助中心</strong> </a></li>
            <li> <a href="././user/user.html"><img src="../pic/Account.svg" style="width: 20px" alt=""><strong
                        id="ssaa">會員帳戶</strong> </a></li>
        </ul>

    </nav>
    <nav class="Bear-header-bottom">
        <div class="Bear-header-bottom-container">
            <div class="Bear-header-bottom-container-left">
                <a href="./Bear_Shop.html">
                    <div class="Bear-header-bottom-container-left-container">
                        <div style="width: 40%;">
                            <img class="icon_Bear" src="../pic/Bear.svg" alt="">
                        </div>
                        <div style="font-size: 30px;">熊熊商城</div>
                    </div>
                </a>
            </div>
            <div class="Bear-header-bottom-container-middle">
                <div class="Bear-header-bottom-search">
                    <input type="text" class="Bear-header-input" placeholder="輸入搜尋文字" value="">
                    <button onclick="btn_Bgc()" class="Bear-header-btn">
                        <img src="../pic/Search.svg" alt="">
                    </button>
                </div>
            </div>
            <div class="Bear-header-bottom-container-right">
                <a href="./cart.html">
                    <div class="Bear-header-bottom-container-right-container">
                        <img class="icon-Shop-Car" src="../pic/Shop_Car.svg" alt="">
                        <div class="cart-ccount-manger" id="ccount"></div>
                    </div>
                </a>
            </div>
        </div>
    </nav>
    <div class="item-container">
        <div pid='1004' class="item-container-a">
            <div class="item-container-left">
                <div class="item-container-left-inner">
                    <div class="item-container-left-a">
                        <img id="main-img" class="item-container-left-a-img" src="../pic/Bear.svg" alt="">
                    </div>
                    <div class="item-container-left-b" >
                        <img  th:each="photo,iterStat : ${photos}" th:src="${photo}" onmouseover="mousehover_img(this)" onclick="view_img(this)" src="../pic/apple.svg" th:id="|view-img-${iterStat.index+1}|" />
                    </div>
                    <div class="item-container-left-pre" onclick="pre()">
                        <div class="arrow-left"></div>
                    </div>
                    <div class="item-container-left-nex" onclick="nex()">
                        <div class="arrow-right"></div>
                    </div>
                </div>
            </div>
            <div class="item-container-right">
                <div class="item-container-right-a">
                    <strong class="strong-name" th:text="${productBean.ProductName}">
                        花崗大理石 保護殼套 MacBook Pro Air 11 12 13 15 16 Mac 殼 筆電殼 防摔 注音鍵盤膜
                        16 Mac 殼 筆電殼 防摔 注音鍵盤膜
                    </strong>
                </div>
                <div class="item-container-right-b-b">
                    <div class="soldcount"><span id="soldnumber">2</span> 已售出</div>
                </div>
                <div class="item-container-right-c">
                    <span class="mark">$</span><div th:text="${productBean.ProductPrice}" id="item-price">400</div>
                </div>
                <div class="property-container-first">
                    <div class="property-type" th:text="${propertyNameFirst}">規格</div>
                    <div class="property-value-container">
                        <button th:each="value1 : ${valuefirst}" th:if="${value1}!=''" th:text="${value1} " th:value="${value1}" class="property-value-first">Ａ型</button>
                    </div>
                </div>
                <div class="property-container">
                    <div class="property-type" th:text="${propertyNameSecond}">規格</div>
                    <div class="property-value-container">
                        <button th:each="value2 : ${valuesecond}" th:if="${value2}!=''" th:text="${value2}" th:value="${value2}" class="property-value-second">Ｂ型</button>
                    </div>
                </div>
                <div class="item-container-right-j">
                    <div class="item-number-count" >數量</div>
                    <div class="item-container-right-plus">
                        <button id="minus-btn" onclick="item_minus()">-</button>
                        <input id="item-input-qty" name="buyNum" type="text" maxlength="4" value="1">
                        <button id="plus-btn" onclick="item_plus()">+</button>
                    </div>
                    <div class="item-container-right-j-b" >還剩 <span th:text="${productBean.ProductStock}">10</span> 件</div>
                </div>
                
                <div class="item-container-right-k">
                    <button id="item-cart-count-check"  onclick="" class="item-cart-btn-join">加入購物車</button>
                    <!-- <button class="item-cart-btn-buy">直接購買</button> -->
                </div>
            </div>
        </div>
        <div class="item-seller">
            <div class="item-seller-a">
                <div class="item-seller-a-a">
                    <img src="../pic/Bear.svg" alt="">
                    <div class="item-seller-a-a-a">
                        <div th:text="${productBean.MemberId}">Bear555</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-seller-c">
            <div class="item-seller-c-a">
                <div class="item-seller-c-a-a">商品詳情</div>                         
                <span class="detailspan" th:text="${productBean.ProductDetail}">
                   無商品描述
                </span>
            </div>
        </div>
    </div>
    <br><br>
    <hr class="main-page-container-hr" />
    <br><br>

    <div class="footer">
        <div style="display: flex;">
            <div style=" width: 240px;line-height: 35px;font-size: 13px;">
                <div><b>客服中心</b></div>
                <div>幫助中心</div>
                <div>熊熊商城</div>
                <div>付款方式</div>
                <div>蝦幣</div>
                <div>運費補助</div>
                <div>退貨退款</div>
                <div>延長訂單撥款</div>
                <div>聯絡客服</div>
                <div>防詐騙宣導</div>

            </div>
            <div style=" width: 240px;line-height: 35px;font-size: 13px;">
                <div><b>關於熊熊</b></div>
                <div>關於熊熊</div>
                <div>加入我們</div>
                <div>熊熊條款</div>
                <div>隱私權政策</div>
                <div>熊熊商城</div>
                <div>賣家中心</div>
                <div>限時特賣</div>
                <div>聯絡媒體</div>
            </div>
            <div style=" width: 240px;line-height: 35px;font-size: 13px;">
                <div><b>付款</b></div>
                <div><img src="../pic/visa-b.png" style="width: 50px;" alt=""></div>
                <div>物流合作</div>
                <div><img src="" alt="">塞圖片</div>
            </div>
            <div style=" width: 240px;line-height: 35px;font-size: 13px;">
                <div><b>關注我們</b></div>
                <div> <img src="../pic/fb-b.png" class="footer-table-img" alt=""> Facebook</div>
                <div><img src="../pic/ig-b.png" class="footer-table-img" alt=""> Instagram</div>
                <div><img src="../pic/line-b.png" class="footer-table-img" alt=""> Line</div>
                <div><img src="../pic/in-b.png" class="footer-table-img" alt=""> LinkedIn</div>
                <div><img src="../pic/bear-b.png" class="footer-table-img" alt=""> 熊熊輯部落格</div>
            </div>
            <div style=" width: 240px;line-height: 35px;font-size: 13px;">
                <div><b>下載熊熊</b></div>
                <div>
                    <img src="../pic/QRcode.png" class="footer-table-QRcode" alt="">
                </div>
                <div>
                    <img src="../pic/apple.svg" class="footer-table-img" alt=""> Apple Store
                </div>
                <div>
                    <img src="../pic/googleplay.svg" class="footer-table-img" alt=""> Google Play
                </div>
                <div>
                    <img src="../pic/googleplay.svg" class="footer-table-img" alt=""> Google Play
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-footer">
            <div class="footer-footer-copyright">© 2021 Bear. 版權所有。</div>
            <div>
                國家和地區:
                新加坡
                印尼
                台灣
                泰國
                馬來西亞
                越南
                菲律賓
                巴西
            </div>
        </div>
    </div>
</body>

</html>