<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/checkout.css">
</head>

<body>
    <nav class="checkout-nav-bar">
        <div></div>
    </nav>
    <div class="checkout-header-title">
        <div class="checkout-header-title-name">
            <div class="checkout-header-title-name-img"><img src="/pic/Bear.svg" alt=""></div>
            熊皮購物
            <div class="checkout-header-title-checkout">結帳</div>
        </div>
    </div>
    <div class="checkout-order-detail-title">
        <div class="checkout-order-detail-title-container">
            <div class="detail-title-container-name">訂單商品</div>
            <div class="detail-title-container-unitprice">單價</div>
            <div class="detail-title-container-quantity">數量</div>
            <div class="detail-title-container-totalprice">總價</div>
        </div>
    </div>
    <div class="checkout-order-detail-title-contanier">
        <img src="/pic/shop.png" alt=""><p>賣家商店名</p>
    </div>
    <div class="checkout-order-detail-title-contanier-content">
        <div class="checkout-order-detail-title-contanier-content-a">
            <img src="/pic/bear.png" alt="">
            <div class="checkout-order-detail-title-contanier-content-a-ordername">
                正版秋雄超香上衣(純天然無添加物) </div>
        </div>
        <div class="checkout-order-detail-title-contanier-content-a-select">
            <span>選項:黃秋雄(M)</span>
            <div class="checkout-order-detail-title-contanier-content-a-unitprice">$1,500</div>
        </div>
        <div class="checkout-order-detail-title-contanier-content-a-quantity">
            <span>1</span>
        </div>
        <div class="checkout-order-detail-title-contanier-content-a-totalprice">
            <span>$1,500</span>
        </div>
    </div>
    <div class="checkout-order-detail-title-contanier-content-information">
    <div class="checkout-order-detail-title-contanier-content-totalprice">
        <div class="content-totalprice-title">訂單金額(1商品):</div>
        <div class="content-totalprice-title-endprice">$1,500</div>
    </div>

</body>

</html>