<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Document</title>
<link rel="stylesheet" href="../css/checkout.css">
<script src="../js/jquery-3.4.1.js"></script>
<script src="../js/checkout.js"></script>
</head>

<body>
	<nav class="checkout-nav-bar">
		<div></div>
	</nav>
	<div class="checkout-page">
		<div class="checkout-header-title">
			<div class="checkout-header-title-name">
				<div class="checkout-header-title-name-img">
					<img src="/pic/Bear.svg" alt="">
				</div>
				熊皮購物
				<div class="checkout-header-title-checkout">結帳</div>
			</div>
		</div>
		<form action="">
			<div class="checkout-main">
				<div class="checkout-order">
					<div class="checkout-order-detail-title">
						<div class="checkout-order-detail-title-container">
							<div class="detail-title-container-name">訂單商品</div>
							<div class="detail-title-container-unitprice">單價</div>
							<div class="detail-title-container-quantity">數量</div>
							<div class="detail-title-container-totalprice">總價</div>
						</div>
					</div>
					<!-- <div th:each="sellerlist:${sellerlist}"> -->
					<div th:each="cartlist:${cartlist}">

						<div class="checkout-order-detail-title-contanier">
							<img src="/pic/shop.png" alt="">
							<p th:text="${cartlist.productBean.memberBean.userAccount}">賣家商店名</p>
						</div>
						<div class="checkout-order-detail-title-contanier-content">
							<div class="checkout-order-detail-title-contanier-content-a">
								<img th:src="@{${cartlist.cartPhoto}}" alt="">
								<div th:text="${cartlist.productBean.productName}"
									class="checkout-order-detail-title-contanier-content-a-ordername">
									正版秋雄超香上衣(純天然無添加物)</div>
							</div>
							<div
								class="checkout-order-detail-title-contanier-content-a-select">
								<span
								th:text="${cartlist.productBean.ProductThirdCategoryId}">選項:黃秋雄(M)</span>
								<div th:text="${cartlist.productBean.productPrice}"
									class="checkout-order-detail-title-contanier-content-a-unitprice">$1,500</div>
							</div>
							<div
								class="checkout-order-detail-title-contanier-content-a-quantity">
								<span th:text="${cartlist.quantity}">1</span>
							</div>
							<div
								class="checkout-order-detail-title-contanier-content-a-totalprice">
								<span th:text="${cartlist.totalPrice}">$1,500</span>
							</div>
						</div>
					</div>
					<div
						class="checkout-order-detail-title-contanier-content-information">
						<div
							class="checkout-order-detail-title-contanier-content-totalprice">
							<div class="content-totalprice-title"
								th:text="|訂單金額(${allquantity}商品):|"></div>
							<div class="content-totalprice-title-endprice"
								th:text="${alltotal}">$1,500</div>
						</div>
					</div>
				</div>
			</div>
			<div class="checkout-payment">
				<div class="checkout-payment-paymentmethod">
					<div class="checkout-payment-paymentmethod-choosingmethod">
						<div class="paymentmethod-choosingmethod-title">付款方式</div>
						<div class="paymentmethod-choosingmethod-options">
							<button type="button"
								class="paymentmethod-choosingmethod-option paymentmethod-option--selected option-cod"
								name="payment" value="0">貨到付款</button>
							<button type="button"
								class="paymentmethod-choosingmethod-option option-creditcard"
								name="payment" value="1">信用卡/金融卡</button>
						</div>
					</div>
					<div class="checkout-payment-paymentmethod-methodcontent">
						<div class="paymentmethod-cashondelivery">
							<div class="paymentmethod-cashondelivery-title">貨到付款</div>
							<div class="paymentmethod-cashondelivery-content">現金付款</div>
						</div>
						<div
							class="paymentmethod-creditcard paymentmethod-content--unselected">
							<div class="paymentmethod-creditcard-title">選擇付款帳戶</div>
							<div class="paymentmethod-creditcard-inputwrap">
								<input class="creditcard-inputwrap-input" type="text"
									placeholder="請輸入您的卡號">
							</div>
						</div>
					</div>
				</div>
				<div class="checkout-payment-paymentamount">
					<div
						class="paymentamount-producttotaltitle paymentamount-griditem paymentamount-row-1 paymentamount-column-1">商品總金額：</div>
					<div
						class="paymentamount-producttotalprice paymentamount-griditem paymentamount-row-1 paymentamount-column-2"
						th:text="${alltotal}">$3</div>
					<div
						class="paymentamount-amountofpaymenttitle paymentamount-griditem paymentamount-row-2 paymentamount-column-1">總付款金額</div>
					<div
						class="paymentamount-amountofpaymentprice paymentamount-griditem paymentamount-row-2 paymentamount-column-2"
						th:text="${alltotal}">$3</div>
					<div class="checkout-orderingblock">
						<input type="submit" name="ordering" class="ordering">確認訂單並送出</input>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>

</html>