<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script  th:inline="javascript" th:src="@{/js/login.js}"></script>
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    
</head>

<body>
    <div id="login_top">
        <div id="login_top_login">
           <span><a href="http://localhost:8080/main-page">回首頁</a></span>
        </div>
       <img id="eatingbear" alt="" th:src="@{/pic/eatingbear.png}">
        


    </div>
    <div id="login_mid">
        
         <img id="login_logo" th:src="@{/pic/FotoJet.jpg}" width="1000px" height="600px">

        <div id="login_mid_right">
            <form action="/login-page" method="post">
                <div id="login_mid_right_login" class="login_registered">
                    <div class="login_mid_right_title_box">
                        <div class="login_mid_right_title_login" id="login_mid_right_title_login" onclick="change_login()">
                            登入</div>
                        <div class="login_mid_right_title_registered" onclick="change_registered()">註冊</div>
                    </div>
                    <div class="login_mid_right_box">
                        <div class="login_mid_right_APA" id="login_mid_right_APE_erro" th:if="${loginfalse}">
                            帳號或密碼輸入錯誤
                        </div>
                        
                        <input type="text" placeholder="電話號碼/使用者名稱/Email" class="login_mid_right_APE" id="account" name="loginaccount">
                        <div id="login_mid_right_box_accountremind">請填寫此欄位</div>
                        <div class="login_mid_right_APE" id="password">
                            <input type="password" placeholder="密碼" id="password_input" name="loginpassword">
                            <div class="password_hide_password">
                                <img src="../pic/visibility.png" alt="" class="login_mid_right_APE_eye" id="login_mid_right_APE_eye_loginopen" style="visibility: hidden;" onclick="login_eyes_visible(event)">
                                <img src="../pic/invisible.png" alt="" class="login_mid_right_APE_eye" id="login_mid_right_APE_eye_loginclose" style="visibility: visible;" onclick="login_eyes_hidden(event)">
                            </div>

                        </div>
                        <div id="login_mid_right_box_passwordremind">請填寫此欄位</div>
                        <div id="login_mid_right_button">
                            <input type="button" value="登入" id="loginbutton" onclick="login_approve()"><br>

                        </div>
                        <div id="login_mid_right_hr">
                        </div>
                        <div class="login_mid_right_otherlogin">
                        </div>
                    </div>
                </div>
            </form>
            <!--申請帳號-->
            <form action="/login-page" method="post">
                <div id="login_mid_right_registered" class="login_registered">
                    <div class="login_mid_right_title_box">
                        <div class="login_mid_right_title_login" onclick="change_login()">登入</div>
                        <div class="login_mid_right_title_registered" id="login_mid_right_title_registered" onclick="change_registered()">註冊</div>
                    </div>
                    <div class="login_mid_right_box">
                        <div class="login_mid_right_APA" id="login_mid_right_APE_erro_registered">
                            <!-- <span th:text="${erro}">註冊新會員</span> -->
                            <span id="sign_new_member">註冊新會員</span>
                        </div>
                        <input type="text" placeholder="電話號碼/使用者名稱/Email" class="login_mid_right_APE" id="account_registered" name="registered_account">
                        <div id="registered_mid_right_box_accountremind">欲申請帳號</div>
                        <div class="login_mid_right_APE" id="password_registered">
                            <input type="password" placeholder="密碼" id="password_input_registered" name="registered_password">
                            <div class="password_hide_password">
                                <img src="../pic//visibility.png" alt="" class="login_mid_right_APE_eye" id="login_mid_right_APE_eye_registeredopen" style="visibility: hidden;" onclick="registered_eyes_visible()">
                                <img src="../pic/invisible.png" alt="" class="login_mid_right_APE_eye" id="login_mid_right_APE_eye_registeredclose" style="visibility: visible;" onclick="registered_eyes_hidden()">
                            </div>
                        </div>
                        <div id="registered_mid_right_box_passwordremind">欲申請密碼</div>
                        <div id="login_mid_right_button_registered">
                            <input type="button" value="註冊" id="registered_button" onclick="registered_approve()"><br>
                            <div>
                                <span id="forget_password_registered"><a
                                        href="https://shopee.tw/buyer/login?next=https%3A%2F%2Fshopee.tw%2F">忘記密碼</a></span>
                                <span id="smslogin_registered"><a
                                        href="https://shopee.tw/buyer/login?next=https%3A%2F%2Fshopee.tw%2F">使用SMS簡訊登入</a></span>
                            </div>
                        </div>
                        <div id="login_mid_right_hr_registered">
                           
                        </div>
                        <div class="login_mid_right_otherlogin">
                        
                           
                           
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="login_bottom"></div>

    <div th:insert="model/footer::footer" class="footer" >
      
         
    </div>

</body>
</html>
