<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/Bear_Shop.css">
    <link rel="stylesheet" th:href="@{/css/Main.css}">
    <link rel="stylesheet" th:href="@{/css/MainPagesort.css}">
    <link rel="stylesheet" th:href="@{/css/SellerIndex.css}">
    <!--商品列表样式表-->
    <!--cookie操作的js库-->
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <title>熊皮購物 - 首頁</title>
</head>

<body ondragstart="return false" oncopy="return false;">

    <div th:insert="model/header::header"></div>
    <div class="main-page-container">
        <div class="main-page-container-outside">
            <div class="main-page-container-middle">
                <div id="slider" class="main-page-container-inside">
                    <ul class="slieder-item-container">
                        <li>
                            <a class="img-animate" href="#"> <img src="https://picsum.photos/600/300?image=700" alt="" /></a>
                        </li>
                        <li>
                            <a class="img-animate" href="#"><img src="https://picsum.photos/600/300?image=702" alt="" /></a>
                        </li>
                        <li>
                            <a class="img-animate" href="#"><img src="https://picsum.photos/600/300?image=701" alt="" /></a>
                        </li>
                        <li>
                            <a class="img-animate" href="#"><img src="https://picsum.photos/600/300?image=702" alt="" /></a>
                        </li>
                        <li>
                            <a class="img-animate" href="#"><img src="https://picsum.photos/600/300?image=701" alt="" /></a>
                        </li>
                    </ul>
                    <div class="arrow-container">
                        <span class="main-page-arrow-left"></span>
                        <span class="main-page-arrow-right"></span>
                    </div>
                    <div class="indicator-container">
                        <span class="indicator active"></span>
                        <span class="indicator"></span>
                        <span class="indicator"></span>
                        <span class="indicator"></span>
                        <span class="indicator"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-page-container-a">
            <a href="./Baer-item.html">
                <div class="main-page-container-a-list">
                    <img class="main-page-container-a-list-img" src="../pic/FB.svg" alt="">
                    <div class="main-container-a-div">
                        現領購物金
                    </div>
                </div>
            </a>
            <a href="./Baer-item-2.html">
                <div class="main-page-container-a-list">
                    <img src="../pic/FB.svg" class="main-page-container-a-list-img" alt="">
                    <div class="main-container-a-div">
                        3C家電
                    </div>
                </div>
            </a>
            <a href="">
                <div class="main-page-container-a-list">
                    <img src="../pic/FB.svg" class="main-page-container-a-list-img" alt="">
                    <div class="main-container-a-div">
                        整點搶5折券
                    </div>
                </div>
            </a>
            <a href="">
                <div class="main-page-container-a-list">
                    <img src="../pic/FB.svg" class="main-page-container-a-list-img" alt="">
                    <div class="main-container-a-div">
                        熊熊團購
                    </div>
                </div>
            </a>
            <a href="">
                <div class="main-page-container-a-list">
                    <img src="../pic/FB.svg" class="main-page-container-a-list-img" alt="">
                    <div class="main-container-a-div">
                        熊熊海外直送
                    </div>
                </div>
            </a>
            <a href="">
                <div class="main-page-container-a-list">
                    <img src="../pic/FB.svg" class="main-page-container-a-list-img" alt="">
                    <div class="main-container-a-div">
                        熊熊超便宜
                    </div>
                </div>
            </a>
            <a href="">
                <div class="main-page-container-a-list">
                    <img src="../pic/FB.svg" class="main-page-container-a-list-img" alt="">
                    <div class="main-container-a-div">
                        免運！熊熊直送
                    </div>
                </div>
            </a>
            <a href="">
                <div class="main-page-container-a-list">
                    <img src="../pic/FB.svg" class="main-page-container-a-list-img" alt="">
                    <div class="main-container-a-div">
                        熊熊超市
                    </div>
                </div>
            </a>
            <a href="">
                <div class="main-page-container-a-list">
                    <img src="../pic/FB.svg" class="main-page-container-a-list-img" alt="">
                    <div class="main-container-a-div">
                        最強活動集合
                    </div>
                </div>
            </a>
            <a href="">
                <div class="main-page-container-a-list">
                    <img src="../pic/FB.svg" class="main-page-container-a-list-img" alt="">
                    <div class="main-container-a-div">
                        男人館
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="mainpage-sort-container">
        <div class="category-wrapper" th:each="category : ${categories}">
            <a th:href="@{/cat/__${category.categoryId}__}">
                <div class="sort-item">
                    <div class="sort-item-image"><img th:src="@{__${category.categoryIcon}__}" alt=""></div>
                    <div class="sort-item-title">[[${category.categoryName}]]</div>
                </div>
            </a>
        </div>
    </div>

    <div class="shop-search-container-right">
        <div class="shop-search-container-right-products">
            <div class="shop-search-right-product" th:each="product : ${products}">
                <a th:href="@{/product/__${product.productid}__}">
                    <div><img th:src="@{__${product.productPhoto}__}" alt=""></div>
                    <div class="fastShipment"><img th:src="@{/pic/fastShipment.png}" alt=""></div>
                    <div class="shop-search-right-product-content">
                        <div class="shop-search-right-product-name">[[${product.productName}]]</div>
                        <div class="product-price">
                            <div class="real-price"><span>$</span><span>[[${product.productPrice}]]</span></div>
                        </div>
                        <div class="evaluation">
                            <div>庫存<span class="soldquantity">[[${product.productStock}]]</span></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <br><br>
    <hr class="main-page-container-hr" />
    <br><br>

    <p th:text="${name}"></p>
    <div th:insert="model/footer::footer"></div>

    <script src="/js/Bear_Shop.js"></script>
    <!-- <script src="/js/user.js" defer></script> -->
    <script src="/js/cookie.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" src="/js/index.js" defer></script>
    <script type="text/javascript" src="/js/server.js"></script>
</body>

</html>