<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewProduct</title>
    <link rel="stylesheet" th:href="@{/css/NewProduct.css}">
    <script defer th:src="@{/js/jquery-3.4.1.js}"></script>
    <script defer th:src="@{/js/NewProduct.js}"></script>
</head>
<body>
<div th:insert="model/sellerhead::sellerhead"></div>
      <form th:action="@{/addProduct}" id="form1"  name="form1" method="Post"  enctype="multipart/form-data">

    <div class="basic-information-container">
            <div class="basic-information-title">基本資訊</div>
            <div class="basic-information-container-middle">
                <div class="basic-information-container-picture">
                    <div class="basic-information">商品圖片</div>       
                    <div class="imgPreview">
                        <div class="prompt" >
                            <span class="plusicon"><img src="/pic/plus.png" alt=""></span>
                            <input type="file"  id="file0" class="filepath" name="productphoto" onchange="changepic(0)" accept="image/jpg,image/jpeg,image/png,image/PNG">
                            <img id="img0" th:src="${photo}"  th:each="photo,iterStat : ${photos}" th:if="${iterStat.first}" class="img-place" style="display:block" />
                            <img id="img0" th:unless="${photos}"  class="img-place"/> 
                            <div class="img-delete-container" onclick="deletePic(0)">
                                <img src="/pic/delete.png" class="img-delete" alt="">
                            </div>
                        </div>
                        <div class="picture-number">封面照片</div>
                    </div>
					<div class="imgPreview" >
                        <div class="prompt">
                            <span class="plusicon"><img src="/pic/plus.png" alt=""></span>
                            <input type="file" id="file1" class="filepath" name="productphoto"  onchange="changepic(1)" accept="image/jpg,image/jpeg,image/png,image/PNG">
                            <img id="img1" th:src="${photo}" th:each="photo,iterStat : ${photos}" th:if="${iterStat.index==1}" class="img-place" style="display:block"/>
                            <img id="img1" th:each="photo,iterStat : ${photos}" th:if="${iterStat.size}lt'2'" class="img-place"/>                          
                            <img id="img1" th:unless="${photos}"  class="img-place" /> 

                            <div class="img-delete-container" onclick="deletePic(1)">
                                <img src="/pic/delete.png" class="img-delete" alt="">
                            </div>
                        </div>
                        <div class="picture-number">圖片 1</div>
                    </div>
                    <div class="imgPreview" >
                        <div class="prompt">
                            <span class="plusicon"><img src="/pic/plus.png" alt=""></span>
                            <input type="file" id="file2" class="filepath" name="productphoto"  onchange="changepic(2)" accept="image/jpg,image/jpeg,image/png,image/PNG">
                            <img id="img2" th:src="${photo}" th:each="photo,iterStat : ${photos}" th:if="${iterStat.index} == 2" class="img-place" style="display:block" />
                            <img id="img2" th:each="photo,iterStat : ${photos}" th:if="${iterStat.size}lt'3'and${iterStat.count==1}" class="img-place"/>                                                      
                            <img id="img2" th:unless="${photos}"  class="img-place" />                            
                            <div class="img-delete-container" onclick="deletePic(2)">
                                <img src="/pic/delete.png" class="img-delete" alt="">
                            </div>
                        </div>
                        <div class="picture-number">圖片 2</div>
                    </div>
                    <div class="imgPreview" >
                        <div class="prompt">
                            <span class="plusicon"><img src="/pic/plus.png" alt=""></span>
                            <input type="file" id="file3" class="filepath" name="productphoto" onchange="changepic(3)" accept="image/jpg,image/jpeg,image/png,image/PNG">
                            <img id="img3" th:src="${photo}" th:each="photo,iterStat : ${photos}" th:if="${iterStat.index} == 3" class="img-place" style="display:block" />
                            <img id="img3" th:each="photo,iterStat : ${photos}" th:if="${iterStat.size}lt'4'and${iterStat.count==1}" class="img-place"/>                                                                                  
                            <img id="img3" th:unless="${photos}"  class="img-place" />                                                        

                            <div class="img-delete-container" onclick="deletePic(3)">
                                <img src="/pic/delete.png" class="img-delete" alt="">
                            </div>
                        </div>
                        <div class="picture-number">圖片 3</div>
                    </div>

                    <div class="imgPreview ">
                        <div class="prompt">
                            <span class="plusicon"><img src="/pic/plus.png" alt=""></span>
                            <input type="file" id="file4" class="filepath" name="productphoto" onchange="changepic(4)" accept="image/jpg,image/jpeg,image/png,image/PNG">
                            <img id="img4" th:src="${photo}" th:each="photo,iterStat : ${photos}" th:if="${iterStat.index} == 4" class="img-place" style="display:block" />
                            <img id="img4" th:each="photo,iterStat : ${photos}" th:if="${iterStat.size}lt'5'and${iterStat.count==1}" class="img-place"/>
                            <img id="img4" th:unless="${photos}"  class="img-place"/>
                            <div class="img-delete-container" onclick="deletePic(4)">
                                <img src="/pic/delete.png" class="img-delete" alt="">
                            </div>
                        </div>
                        <div class="picture-number">圖片 4</div>
                    </div>
                    <div class="imgPreview" >
                        <div class="prompt">
                            <span class="plusicon"><img src="/pic/plus.png" alt=""></span>
                            <input type="file" id="file5" class="filepath" name="productphoto" onchange="changepic(5)" accept="image/jpg,image/jpeg,image/png,image/PNG">
                            <img id="img5" th:src="${photo}" th:each="photo,iterStat : ${photos}" th:if="${iterStat.index} == 5" class="img-place" style="display:block" />
                            <img id="img5"  th:each="photo,iterStat : ${photos}" th:if="${iterStat.size}lt'6'and${iterStat.count==1}" class="img-place"/>                 
                            <img id="img5" th:unless="${photos}"  class="img-place" />

                            <div class="img-delete-container" onclick="deletePic(5)">
                                <img src="/pic/delete.png" class="img-delete" alt="">
                            </div>
                        </div>
                        <div class="picture-number">圖片 5</div>
                    </div>

                    <div class="imgPreview" >
                        <div class="prompt">
                            <span class="plusicon"><img src="/pic/plus.png" alt=""></span>
                            <input type="file" id="file6" class="filepath" name="productphoto" onchange="changepic(6)" accept="image/jpg,image/jpeg,image/png,image/PNG">
                            <img id="img6" th:src="${photo}" th:each="photo,iterStat : ${photos}" th:if="${iterStat.index} == 6" class="img-place" style="display:block" />
                            <img id="img6" th:each="photo,iterStat : ${photos}" th:if="${iterStat.size}lt'7'and${iterStat.count==1}" class="img-place"/>
                            <img id="img6" th:unless="${photos}" class="img-place" />

                            <div class="img-delete-container" onclick="deletePic(6)">
                                <img src="/pic/delete.png" class="img-delete" alt="">
                            </div>
                        </div>
                        <div class="picture-number">圖片 6</div>
                    </div>

                    <div class="imgPreview" >
                        <div class="prompt">
                            <span class="plusicon"><img src="/pic/plus.png" alt=""></span>
                            <input type="file" id="file7" class="filepath" name="productphoto" onchange="changepic(7)" accept="image/jpg,image/jpeg,image/png,image/PNG">
                            <img id="img7" th:src="${photo}" th:each="photo,iterStat : ${photos}" th:if="${iterStat.index} == 7" class="img-place" style="display:block" />
                            <img id="img7"  th:each="photo,iterStat : ${photos}" th:if="${iterStat.size}lt'8'and${iterStat.count==1}" class="img-place"/>                            
                            <img id="img7" th:unless="${photos}"  class="img-place" />

                            <div class="img-delete-container" onclick="deletePic(7)">
                                <img src="/pic/delete.png" class="img-delete" alt="">
                            </div>
                        </div>
                        <div class="picture-number">圖片 7</div>
                    </div>
                </div>
                
                <div class="basic-information-name-container">
                    <div class="basic-information-name">商品名稱</div>
                    <div class="input-container">

                        <input type="text" placeholder="請輸入" maxlength="50" th:value="${name!=null? name :newname }" id="product-name" name="productname" size="large">

                    </div>
                </div>
                <span class="msg">商品名稱不能為空白</span>
                <div class="basic-information-description-container">
                    <div class="basic-information-name">商品描述</div>
                    <div class="input-container">

                        <textarea  placeholder=" 請輸入" maxlength="1500" id="product-description" th:text="${ProductDetail!=null?ProductDetail:''}"  name="productDetail" rows="40"></textarea>

                        
                    </div>
                </div>
         		<div class="basic-information-category-container">
                    <div class="basic-information-name">類別</div>
                    <div class="category-flow">
                        <span id="first-span" th:text="${firstCategoryName!=null?firstCategoryName:firstCategory}" ></span>
                        <span class="span1" id="span1">></span>
                        <span id="second-span" th:text="${secondCategoryName!=null?secondCategoryName:secondCategory}"></span>
                        <span class="span1" id="span2">></span>
                        <span id="third-span" th:text="${thirdCategoryName!=null?thirdCategoryName:thirdCategory}"></span> <a href="javascript:form2.submit();"><img src="/pic/pencil.png" alt=""></a>

                    </div>
                </div>
                
            </div>
            <div class="basic-information-title">銷售資訊</div>
            <div class="basic-information-container-middle">
            <div class="basic-information-sale-container">
                <div class="basic-information-name">商品價格</div>
                <div class="input-container">

                    <input type="text"  placeholder="NT$ 請輸入" maxlength="10" th:value="${ProductPrice!=null?ProductPrice:''}" name="productPrice" id="product-price" size="large">
                </div>
            </div>
            <div class="basic-information-sale-container">
                <div class="basic-information-name">數量</div>	
                <div class="input-container">
                    <input type="text" placeholder="請輸入" maxlength="10" th:value="${ProductStock!=null?ProductStock:''}" name="productStock" id="product-count" size="large">

                </div>
            </div>
            <div class="basic-information-specification-container">
                <div class="basic-information-specification-title">規格一</div>
                <div class="specification-container">
                    <div class="specification-container-middle-name">
                        <div class="basic-information-specification">商品規格名稱</div>
                        <div class="input-container-specification">
                            <input type="text"  maxlength="14" placeholder="請輸入規格名稱" name="propertyName" th:value="${firstPropertyName}" id="product-specification-first-name" >
                        </div>
                    </div>
                    <div class="specification-container-middle-options" >
                        <div class="basic-information-specification">選項</div>
                        <div class="basic-information-specification-middle-first">                       
                         	<div class="input-container-specification">
                                <input type="text"  maxlength="20"  placeholder="請輸入選項" name="propertyValue" th:unless="${firstPropertyValue}" th:value="${firstPropertyValue!=null?firstPropertyValue:''}" value=''  class="product-specification-first-type">                    
                            </div>      
                            <div class="input-container-specification">
                                <input type="text"  maxlength="20" th:each="firstPropertyValue,userStat : ${firstPropertyValue}"  placeholder="請輸入選項" name="propertyValue" th:if="${userStat.first}" th:value="${firstPropertyValue!=null?firstPropertyValue:''}" value=''  class="product-specification-first-type">                    
                            </div>      
                            <div class="input-container-specification" th:each="firstPropertyValue,userStat : ${firstPropertyValue}">
                                <input type="text"  maxlength="20" placeholder="請輸入選項" name="propertyValue" th:value="${firstPropertyValue}" th:if="${userStat.index} != 0" class="product-specification-first-type">
                               	<div class="delete-options" th:if="${userStat.index} != 0"><img src="/pic/delete.png"  alt=""></div>                            

                            </div>                        
                        </div>
                    </div>
                    <div class="specification-plus-first">增加選項 +</div>
                </div>
            </div>
            <div class="basic-information-specification-container">
                <div class="basic-information-specification-title">規格二</div>
                <div class="specification-container">

                    <div class="specification-container-middle-name" >
                        <div class="basic-information-specification">商品規格名稱</div>
                        <div class="input-container-specification">
                            <input type="text" maxlength="14" placeholder="請輸入規格名稱" name="propertySecondName" th:value="${secondPropertyName}" id="product-specification-second-name">

                        </div>
                    </div>
                    <div class="specification-container-middle-options">
                        <div class="basic-information-specification">選項</div>
                        <div class="basic-information-specification-middle-second">
                            <div class="input-container-specification">
                                <input type="text"  maxlength="20"  placeholder="請輸入選項" name="propertySecondValue" th:unless="${secondPropertyValue}" th:value="${secondPropertyValue!=null?secondPropertyValue:''}" value=''  class="product-specification-first-type">                    
                            </div>      
                            <div class="input-container-specification">
                                <input type="text" maxlength="20" th:each="secondPropertyValue,userStat : ${secondPropertyValue}" placeholder="請輸入選項" name="propertySecondValue" th:value="${secondPropertyValue!=null?secondPropertyValue:''}"  th:if="${userStat.first}" class="product-specification-second-type">
                            </div>
                            <div class="input-container-specification" th:each="secondPropertyValue,userStat : ${secondPropertyValue}">
                                <input type="text"  maxlength="20" placeholder="請輸入選項" name="propertySecondValue" th:value="${secondPropertyValue}" th:if="${userStat.index} != 0" class="product-specification-second-type">
                               	<div class="delete-options" th:if="${userStat.index} != 0"><img src="/pic/delete.png"  alt=""></div>                            
                            </div>                             
                        </div>
                    </div>
                    <div class="specification-plus-second">增加選項 +</div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align:center ; color:red ">[[${msg}]]</div>
    <div class="fixholder">
        
    </div>
    <div class="submit-container fixbottom">
       <input type="text" id="oldPhoto"  name="oldPhoto"  style="display:none">
        <div>
            <div class="cancle-submit" ><a th:href="@{/MyProduct}">取消</a></div>
            <button  name="allcategorys" id="submitbtn" class="onsale-submit"  th:text="${name}!=null?'修改':'上架'" >上架</button>
        </div>
    </div>
    <input type="number" name="productid" th:value="${productid}" style="display:none">
    </form>
    
	<form id="form2" th:action="@{/MyCategoriesPage1}" method="post">
           <input type="number" name="productid" th:value="${productid}" style="display:none">
           <input type="number" name="changecategorys" value="1" style="display:none">
             
	</form>	

    
</body>
</html>