<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewProduct</title>
    <link rel="stylesheet" th:href="@{/css/NewProduct.css}">
    <script defer th:src="@{/js/jquery-3.4.1.js}"></script>
    <script defer th:src="@{/js/NewProduct.js}"></script>
</head>
<body>
    <div class="header-navbar-container">
        <div class="header-navbar-left">
            <div><a href=""><img src="/pic/Bear.svg" alt=""></a></div>
            <div>
                <div><a href="">首頁</a></div>
                <div><img src="/pic/right-arrow-gray.png" alt=""></div>
                <div><a href="">我的商品</a></div>
                <div><img src="/pic/right-arrow-gray.png" alt=""></div>
                <div><a href="">商品分類</a></div>
            </div>
        </div>
        <div class="header-navbar-right">
            <div class="head-account"><img src="/pic/bear.png" alt=""><span>account1234</span></div>
            <div class="logout"><span>登出</span></div>
        </div>
    </div>
      <form th:action="@{/addProduct}" name="form1" th:object="${product}" method="Post"  enctype="multipart/form-data">
    <div class="basic-information-container">
            <div class="basic-information-title">基本資訊</div>
            <div class="basic-information-container-middle">
                <div class="basic-information-container-picture">
                    <div class="basic-information">商品圖片</div>               
                    <div class="imgPreview">
                        <div class="prompt">
                            <span class="plusicon"><img src="/pic/plus.png" alt=""></span>
                            <input type="file" id="file0" class="filepath" name="productphoto" onchange="changepic(0)" accept="image/jpg,image/jpeg,image/png,image/PNG">
                            <img src="#" id="img0" class="img-place" />
                            <div class="img-delete-container" onclick="deletePic(0)">
                                <img src="/pic/delete.png" class="img-delete" alt="">
                            </div>
                        </div>
                        <div class="picture-number">封面照片</div>
                    </div>
					<div class="imgPreview">
                        <div class="prompt">
                            <span class="plusicon"><img src="/pic/plus.png" alt=""></span>
                            <input type="file" id="file1" class="filepath" name="productphoto" onchange="changepic(1)" accept="image/jpg,image/jpeg,image/png,image/PNG">
                            <img src="#" id="img1" class="img-place" />
                            <div class="img-delete-container" onclick="deletePic(1)">
                                <img src="/pic/delete.png" class="img-delete" alt="">
                            </div>
                        </div>
                        <div class="picture-number">圖片 1</div>
                    </div>
                    <div class="imgPreview">
                        <div class="prompt">
                            <span class="plusicon"><img src="/pic/plus.png" alt=""></span>
                            <input type="file" id="file2" class="filepath" name="productphoto"  onchange="changepic(2)" accept="image/jpg,image/jpeg,image/png,image/PNG">
                            <img src="#" id="img2" class="img-place" />
                            <div class="img-delete-container" onclick="deletePic(2)">
                                <img src="/pic/delete.png" class="img-delete" alt="">
                            </div>
                        </div>
                        <div class="picture-number">圖片 2</div>
                    </div>
                    <div class="imgPreview">
                        <div class="prompt">
                            <span class="plusicon"><img src="/pic/plus.png" alt=""></span>
                            <input type="file" id="file3" class="filepath" name="productphoto" onchange="changepic(3)" accept="image/jpg,image/jpeg,image/png,image/PNG">
                            <img src="#" id="img3" class="img-place" />
                            <div class="img-delete-container" onclick="deletePic(3)">
                                <img src="/pic/delete.png" class="img-delete" alt="">
                            </div>
                        </div>
                        <div class="picture-number">圖片 3</div>
                    </div>
                    <div class="imgPreview">
                        <div class="prompt">
                            <span class="plusicon"><img src="/pic/plus.png" alt=""></span>
                            <input type="file" id="file4" class="filepath" name="productphoto" onchange="changepic(4)" accept="image/jpg,image/jpeg,image/png,image/PNG">
                            <img src="#" id="img4" class="img-place" />
                            <div class="img-delete-container" onclick="deletePic(4)">
                                <img src="/pic/delete.png" class="img-delete" alt="">
                            </div>
                        </div>
                        <div class="picture-number">圖片 4</div>
                    </div>
                    <div class="imgPreview">
                        <div class="prompt">
                            <span class="plusicon"><img src="/pic/plus.png" alt=""></span>
                            <input type="file" id="file5" class="filepath" name="productphoto" onchange="changepic(5)" accept="image/jpg,image/jpeg,image/png,image/PNG">
                            <img src="#" id="img5" class="img-place" />
                            <div class="img-delete-container" onclick="deletePic(5)">
                                <img src="/pic/delete.png" class="img-delete" alt="">
                            </div>
                        </div>
                        <div class="picture-number">圖片 5</div>
                    </div>
                    <div class="imgPreview">
                        <div class="prompt">
                            <span class="plusicon"><img src="/pic/plus.png" alt=""></span>
                            <input type="file" id="file6" class="filepath" name="productphoto" onchange="changepic(6)" accept="image/jpg,image/jpeg,image/png,image/PNG">
                            <img src="#" id="img6" class="img-place" />
                            <div class="img-delete-container" onclick="deletePic(6)">
                                <img src="/pic/delete.png" class="img-delete" alt="">
                            </div>
                        </div>
                        <div class="picture-number">圖片 6</div>
                    </div>
                    <div class="imgPreview">
                        <div class="prompt">
                            <span class="plusicon"><img src="/pic/plus.png" alt=""></span>
                            <input type="file" id="file7" class="filepath" name="productphoto" onchange="changepic(7)" accept="image/jpg,image/jpeg,image/png,image/PNG">
                            <img src="#" id="img7" class="img-place" />
                            <div class="img-delete-container" onclick="deletePic(7)">
                                <img src="/pic/delete.png" class="img-delete" alt="">
                            </div>
                        </div>
                        <div class="picture-number">圖片 7</div>
                    </div>
                </div>
                
                <div class="basic-information-name-container">
                    <div class="basic-information-name">商品名稱</div>
                    <div class="input-container">
                        <input type="text" placeholder="請輸入" maxlength="50" th:value="${session.name}" id="product-name" name="productName" size="large">
                    </div>
                </div>
                <span class="msg">商品名稱不能為空白</span>
                <div class="basic-information-description-container">
                    <div class="basic-information-name">商品描述</div>
                    <div class="input-container">
                        <textarea  placeholder=" 請輸入" maxlength="1500" id="product-description" name="productDetail" rows="40"></textarea>
                        
                    </div>
                </div>
         		<div class="basic-information-category-container">
                    <div class="basic-information-name">類別</div>
                    <div class="category-flow">
                        <span id="first-span" th:text="${session.first}"></span>
                        <span class="span1" id="span1">></span>
                        <span id="second-span" th:text="${session.second}"></span>
                        <span class="span1" id="span2">></span>
                        <span id="third-span" th:text="${session.third}"></span> <a th:href="@{/MyCategoriesPage1}"><img src="/pic/pencil.png" alt=""></a>
                    </div>
                </div>
                
            </div>
            <div class="basic-information-title">銷售資訊</div>
            <div class="basic-information-container-middle">
            <div class="basic-information-sale-container">
                <div class="basic-information-name">商品價格</div>
                <div class="input-container">
                    <input type="number"  placeholder="NT$ 請輸入" maxlength="10" name="productPrice" id="product-price" size="large">
                </div>
            </div>
            <div class="basic-information-sale-container">
                <div class="basic-information-name">數量</div>
                <div class="input-container">
                    <input type="number" placeholder="請輸入" maxlength="10" name="productStock" id="product-count" size="large">
                </div>
            </div>
            <div class="basic-information-specification-container">
                <div class="basic-information-specification-title">規格一</div>
                <div class="specification-container">
                    <div class="specification-container-middle-name">
                        <div class="basic-information-specification">商品規格名稱</div>
                        <div class="input-container-specification">
                            <input type="text"  maxlength="14" placeholder="請輸入規格名稱" name="propertyName" id="product-specification-first-name" >
                        </div>
                    </div>
                    <div class="specification-container-middle-options">
                        <div class="basic-information-specification">選項</div>
                        <div class="basic-information-specification-middle-first">
                            <div class="input-container-specification">
                                <input type="text"  maxlength="20" placeholder="請輸入選項" name="propertyValue" class="product-specification-first-type">                            
                            </div>                        
                        </div>
                    </div>
                    <div class="specification-plus-first">增加選項 +</div>
                </div>
            </div>
            <div class="basic-information-specification-container">
                <div class="basic-information-specification-title">規格二</div>
                <div class="specification-container">
                    <div class="specification-container-middle-name">
                        <div class="basic-information-specification">商品規格名稱</div>
                        <div class="input-container-specification">
                            <input type="text" maxlength="14" placeholder="請輸入規格名稱" name="propertySecondName"  id="product-specification-second-name">
                        </div>
                    </div>
                    <div class="specification-container-middle-options">
                        <div class="basic-information-specification">選項</div>
                        <div class="basic-information-specification-middle-second">
                            <div class="input-container-specification">
                                <input type="text" maxlength="20" placeholder="請輸入選項" name="propertySecondValue" class="product-specification-second-type">
                            </div>                        
                        </div>
                    </div>
                    <div class="specification-plus-second">增加選項 +</div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align:center ; color:red ">[[${msg}]]</div>
    <div class="fixholder">
        
    </div>
    <div class="submit-container fixbottom">
        <div>
            <button class="cancle-submit">取消</button>
            <button class="onsale-submit"  onclick="return false" type="submit">上架</button>
        </div>
    </div>
    </form>
    
    
    
    
</body>
</html>