<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/shopProfile.css">
    <title>賣場介紹</title>
</head>

<body>
    <div class="sellermanageplatform">

    </div>


    <div class="app-container">
        <div class="sidebar-container">
        </div>
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="shopprofile-page">
                    <div class="header shopprofile-header">
                        <div class="caption">
                            <div class="title">
                                賣場介紹
                            </div>
                            <div class="subtitle">
                                查看你的賣場狀態，更新賣場檔案
                            </div>
                        </div>
                    </div>
                    <div class="shopprofile-body">
                        <div class="shopee-tabs">
                            <div class="shopee-tabs-nav">
                                <div class="shopee-tabs-nav-wrap">
                                    <div class="shopee-tabs-nav-tabs" style="transform: translateX(0px);">
                                        <div class="shopee-tabs-nav-tab active" style="white-space: normal;">
                                            基本資料
                                        </div>
                                    </div>
                                    <div class="shopee-tabs-ink-bar" style="width: 88px; transform: translateX(0px);"></div>
                                </div>
                            </div>
                        </div>
                        <div class="shopprofile-tab-wrapper">
                            <div class="shopprofile">
                                <div class="shopprofile-content">
                                    <div class="basic-info-list">
                                        <div class="header-info">
                                            <div class="cover" style="background-image: url(&quot;&quot;);">
                                                <div class="cover-edit action">
                                                    修改賣場封面
                                                </div>
                                            </div>
                                            <div class="avatar" style="background-image: url(&quot;https://deo.shopeemobile.com/shopee/shopee-seller-live-sg/rootpages/static/modules/shopProfile/copy/default-avatar.png&quot;);">
                                                <div class="avatar-edit action">
                                                    編輯
                                                </div>
                                                F </div>
                                            <div class="user">
                                                <div class="name">
                                                    bobanderic2000
                                                </div>
                                                <div class="join-time">
                                                    2017/01/07 加入
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-info">
                                            <div class="info-row">
                                                <div class="info-row-left">
                                                    <i class="shopee-icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                                            <path d="M3 21v2c-2 2.4h-7z"></path>
                                                        </svg>
                                                    </i>
                                                    <div class="title">
                                                        電腦版賣場
                                                    </div>
                                                </div>
                                                <div class="info-row-right action">
                                                    <div>查看</div>
                                                    <!--<i class="shopee-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M9.83,8 Z"></path></svg></i>-->
                                                </div>
                                            </div>
                                            <div class="info-row">
                                                <div class="info-row-left">
                                                    <i class="shopee-icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                                            <path d="M29.5V8.8z"></path>
                                                        </svg>
                                                    </i>
                                                    <div class="title">商品</div>
                                                </div>
                                                <a href="/portal/product" class="info-row-right action">
                                                    0
                                                    <i class="shopee-icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                            <path d="M9.18933983,8 Z"></path>
                                                        </svg>
                                                    </i>
                                                </a>
                                            </div>
                                            <div class="info-row">
                                                <div class="info-row-left"><i class="shopee-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M24.2 3.7h-2.1v-.8h-2.5.2-.1-.2-.2-.2z"></path></svg></i>
                                                    <div class="title">
                                                        訂單未完成率
                                                    </div>
                                                </div>
                                                <a href="https://shopee.tw/orderfulfillment" target="_blank" class="info-row-right action">
                                                    0.00%
                                                    <i class="shopee-icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                            <path d="M9.18933983,8 L9.18933983,8 Z"></path>
                                                        </svg>
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right">
                                        <div class="edit-info-form">
                                            <div class="form-section">
                                                <div class="form-title">
                                                    賣場名稱
                                                </div>
                                                <form autocomplete="off" class="form-content">
                                                    <div class="shopee-form-item">
                                                        <div class="shopee-form-item-control">
                                                            <div class="shopee-form-item-content">
                                                                <div class="shopee-input shopee-name-input">
                                                                    <div class="shopee-input-inner">
                                                                        <input type="text" placeholder="賣場名稱" name="profile-nickname" resize="vertical" rows="2" minrows="2" maxlength="40" restrictiontype="input" showwordlimit="true" max="Infinity" min="-Infinity" class="shopee-input-input">
                                                                        <div class="shopee-input-suffix">
                                                                            <span class="shopee-input-count">13/40</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="form-section media-location">
                                                <div class="form-title">
                                                    <span class="text">賣場圖片與Youtube影片</span>
                                                </div>
                                                <div class="form-content">
                                                    <div class="order-list order-list--bottom">
                                                        <div class="order-list-item">
                                                            <div class="order-list-item-wrapper">
                                                                <div class="order-list-item-controller">
                                                                    <button disabled="disabled" class="order-list-item-controller-up">
                                                                        <i class="shopee-icon">
                                                                            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                                                                                <path d="M558.63 65.524l.931 279.594z"></path>
                                                                            </svg>
                                                                        </i>
                                                                    </button>
                                                                    <button class="order-list-item-controller-down">
                                                                        <i class="shopee-icon">
                                                                            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                                                                                <path d="M465.37 1-158.877-65.524l-.931-279.594z"></path>
                                                                            </svg>
                                                                        </i>
                                                                    </button>
                                                                </div>
                                                                <div class="order-list-item-content">
                                                                    <div class="media-picker">
                                                                        <div class="media-picker-content">
                                                                            <div class="media-picker-frame">
                                                                                <div class="image-uploader-wrapper">
                                                                                    <div class="image-uploader-image">
                                                                                        <img src="https://cf.shopee.tw/file/ddae82eee21281027a27c331e4dc7524" alt="" class="contain-image">
                                                                                    </div>
                                                                                    <div class="image-uploader-wrapper-overlay">
                                                                                        <div class="image-uploader-action">更換圖片</div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="order-list-item--close">
                                                                        <i class="shopee-icon">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                                                <path fill-rule="evenodd" d="M8,1 C11.8659932,1 L8.00070711,7.29218611 Z"></path>
                                                                            </svg>
                                                                        </i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="order-list-item">
                                                            <div class="order-list-item-wrapper">
                                                                <div class="order-list-item-controller">
                                                                    <button class="order-list-item-controller-up">
                                                                        <i class="shopee-icon">
                                                                            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                                                                                <path d="M558.63 .931-279.594z"></path>
                                                                            </svg>
                                                                        </i>
                                                                    </button>
                                                                    <button disabled="disabled" class="order-list-item-controller-down">
                                                                        <i class="shopee-icon">
                                                                            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                                                                                <path d="M465.37-279.594z"></path>
                                                                            </svg>
                                                                        </i>
                                                                    </button>
                                                                </div>
                                                                <div class="order-list-item-content">
                                                                    <div class="media-picker">
                                                                        <div class="media-picker-content">
                                                                            <div class="media-picker-frame">
                                                                                <div class="image-uploader-wrapper">
                                                                                    <div class="image-uploader-image">
                                                                                        <img src="https://cf.shopee.tw/file/508968a09eec14c09f6c7f0ae460fa24" alt="" class="contain-image">
                                                                                    </div>
                                                                                    <div class="image-uploader-wrapper-overlay">
                                                                                        <div class="image-uploader-action">更換圖片</div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="order-list-item--close">
                                                                        <i class="shopee-icon">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                                                <path fill-rule="evenodd" d="1,7.29218611 Z"></path>
                                                                            </svg>
                                                                        </i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="media-picker empty">
                                                            <div class="media-picker-placeholder">
                                                                <i class="add-shopee-icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                                        <path fill-rule="evenodd" d="M8.48176704,1.5 8.48176704,1.5 Z"></path>
                                                                    </svg>
                                                                </i>
                                                                <div class="media-picker-placeholder-title">
                                                                    新增圖片&amp;影片 (2/5)
                                                                </div>
                                                                <div class="media-picker-picker-image">
                                                                    <button type="button" class="add-button shopee-button">
                                                                        <span>上傳圖片</span>
                                                                    </button>
                                                                </div>
                                                                <div class="media-picker-picker-video">
                                                                    <button type="button" class="add-button shopee-button">
                                                                        <span>新增 YouTube 影片網址</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-section">
                                                <div class="form-title">
                                                    賣場介紹
                                                </div>
                                                <div class="form-content">
                                                    <div class="shopee-input shopee-input-area">
                                                        <textarea type="textarea" placeholder="在此處輸入您的賣場資訊及敘述" resize="vertical" rows="2" minrows="5" maxlength="500" restrictiontype="input" showwordlimit="true" max="Infinity" min="-Infinity" class="shopee-input-inner" style="resize: vertical; min-height: 97.9907px;"></textarea>
                                                        <span class="shopee-input-count">0/500</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="save-button shopee-button shopee-button--primary">
                                            <span>儲存</span>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>