<html   xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/womanclothes.css}">
    <script defer th:src="@{/js/jquery-3.4.1.js}"></script>
    <script  th:src="@{/js/womanclothes.js}" defer></script>

    <meta charset="UTF-8">
</head>

<body>
    <nav class="Bear-header-top">
        <div></div>
    </nav>
    <nav class="Bear-header-bottom">
        <div></div>
    </nav>

    <div class="main-page-container">
        <div class="main-page-container-outside">
            <div class="main-page-container-middle">
                <div id="slider" class="main-page-container-inside">
                    <ul class="slieder-item-container">
                        <li><a class="img-animate" href="#"><img src="/pic/Carousel01.jpg" alt="" /></a></li>
                        <li><a class="img-animate" href="#"><img src="/pic/Carousel02.jpg" alt="" /></a></li>
                        <li><a class="img-animate" href="#"><img src="/pic/Carousel03.jpg" alt="" /></a></li>
                        <li><a class="img-animate" href="#"><img src="/pic/Carousel04.jpg" alt="" /></a></li>
                        <li><a class="img-animate" href="#"><img src="/pic/Carousel07.jpg" alt="" /></a></li>
                    </ul>
                    <div class="arrow-container">
                        <span class="main-page-arrow-left"></span>
                        <span class="main-page-arrow-right"></span>
                    </div>
                    <div class="indicator-container">
                        <span class="indicator active"></span>
                        <span class="indicator"></span>
                        <span class="indicator"></span>
                        <span class="indicator"></span>
                        <span class="indicator"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="main-brand-logo-header">
        <div class="main-brand-logo-header-left">
            <a>熊皮店家</a>
        </div>
        <div class="main-brand-logo-header-container">
            <div class="main-brand-logo-header-container-first-line">
                <div class="main-brand-image"><img th:src="@{/pic/womanpage_pics/xiongseller.jpg}"></div>
                <div class="main-brand-image"><img th:src="@{/pic/womanpage_pics/xiongseller1.png}"></div>
                <div class="main-brand-image"><img th:src="@{/pic/womanpage_pics/xiongseller2.jpg}"></div>
                <div class="main-brand-image"><img th:src="@{/pic/womanpage_pics/xiongseller3.jpg}"></div>
            </div>
            <div class="main-brand-logo-header-container-second-line">
                <div class="main-brand-image"><img src="/pic/womanpage_pics/xiongseller4.jpg"></div>
                <div class="main-brand-image"><img src="/pic/womanpage_pics/xiongseller5.jpg"></div>
                <div class="main-brand-image"><img src="/pic/womanpage_pics/xiongseller6.jpg"></div>
                <div class="main-brand-image"><img src="/pic/womanpage_pics/xiongseller7.jpg"></div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="shop-search-page-container">
        <div class="shop-search-page-container-center">
            <div class="shop-search-container-left">
                <div class="shop-search-container-left-filter-contain">
                    <div class="shop-search-container-left-filter">
                        <div class="shopee-shop-filter-header">所有分類</div>
                        <div class="shopee-shop-filter-allproducts">短袖/長袖T-Shirt</div>
                        <div class="shopee-shop-filter-product">短褲/長褲/西裝褲</div>
                        <div class="shopee-shop-filter-product">襯衫</div>
                        <div class="shopee-shop-filter-product">丹寧牛仔系列</div>
                        <div class="shopee-shop-filter-product">外套</div>
                    </div>
                    <div class="shopee-shop-filter-container">
                        <div class="shopee-shop-filter-group-header">價格範圍</div>
                        <input type="text" placeholder="$ 最小值"> - <input type="text" placeholder="$ 最大值">
                        <button>套用</button>
                    </div>
                    <div class="shopee-shop-filter-container">
                        <div class="shopee-shop-filter-group-header">付款方式</div>
                        <div class="shopee-shop-filter-group"><input type="checkbox" name="" id="">信用卡</div>
                        <div class="shopee-shop-filter-group"><input type="checkbox" name="" id="">分期0利率</div>
                    </div>
                    <div class="shopee-shop-filter-container">
                        <button class="shopee-shop-filter-clean">清除全部</button>
                    </div>
                </div>
            </div>
            <div class="shop-search-container-right">
                <div class="shop-search-container-right-filter-container">
                    <span class="filter-label">篩選</span>
                    <div class="shop-search-container-right-filter">
                        <div class="total-ranking focus-on">綜合排名</div>
                        <div class="total-latest">最新</div>
                        <div class="total-hots">最熱銷</div>
                        <div class="total-price">
                            <span>價格</span>
                            <div><img src="/pic/down.png" alt=""></div>
                            <div class="total-price-filter-toggle">
                                <div class="total-price-filter-low"> 價格：低到高</div>
                                <div class="total-price-filter-high"> 價格：高到低</div>
                            </div>
                        </div>
                    </div>
                    <div class="shopee-mini-page-controller">
                        <div class="shopee-mini-page-controller-state">
                            <div class="shopee-mini-page-controller__current">2</div>/<span
                                class="shopee-mini-page-controller__total">13</span>
                        </div>
                        <button class="shopee-mini-page-controller-prev-btn"><img src="/pic/left-arrow.png"
                                alt=""></button>
                        <button class="shopee-mini-page-controller-next-btn"><img src="/pic/right-arrow.png"
                                alt=""></button>
                    </div>
                </div>
                <div class="shop-search-container-right-products">
                    <div class="shop-search-right-product">
                        <div><img src="/pic/product1.png" alt=""></div>
                        <div class="fastShipment"><img src="/pic/fastShipment.png" alt=""></div>
                        <div class="free99"><img src="/pic/99free.png" alt=""></div>
                        <div class="shop-search-right-product-content">
                            <div class="shop-search-right-product-name">現貨秒出🔥[KOREA MOOS]3 COLOR夏季疊穿混紗薄針織背心</div>
                            <div class="additional-purchase-price"><span>加價購</span></div>
                            <div class="product-price">
                                <div class="real-price"><span>$</span><span>630</span></div>
                                <div><img src="/pic/freetruck.png" alt=""></div>
                            </div>
                            <div class="evaluation">
                                <div>已售出 6391</div>
                            </div>
                            <div class="seller-location">台中市太平區</div>
                        </div>
                    </div>
                    <div class="shop-search-right-product">
                        <div><img src="/pic/product1.png" alt=""></div>
                        <div class="fastShipment"><img src="/pic/fastShipment.png" alt=""></div>
                        <div class="free99"><img src="/pic/99free.png" alt=""></div>
                        <div class="shop-search-right-product-content">
                            <div class="shop-search-right-product-name">現貨秒出🔥[KOREA MOOS]3 COLOR夏季疊穿混紗薄針織背心</div>
                            <div class="additional-purchase-price"><span>加價購</span></div>
                            <div class="product-price">
                                <div class="real-price"><span>$</span><span>630</span></div>
                                <div><img src="/pic/freetruck.png" alt=""></div>
                            </div>
                            <div class="evaluation">
                                <div>已售出 6391</div>
                            </div>
                            <div class="seller-location">台中市太平區</div>
                        </div>
                    </div>
                    <div class="shop-search-right-product">
                        <div><img src="/pic/product1.png" alt=""></div>
                        <div class="fastShipment"><img src="/pic/fastShipment.png" alt=""></div>
                        <div class="free99"><img src="/pic/99free.png" alt=""></div>
                        <div class="shop-search-right-product-content">
                            <div class="shop-search-right-product-name">現貨秒出🔥[KOREA MOOS]3 COLOR夏季疊穿混紗薄針織背心</div>
                            <div class="additional-purchase-price"><span>加價購</span></div>
                            <div class="product-price">
                                <div class="real-price"><span>$</span><span>630</span></div>
                                <div><img src="/pic/freetruck.png" alt=""></div>
                            </div>
                            <div class="evaluation">
                                <div>已售出 6391</div>
                            </div>
                            <div class="seller-location">台中市太平區</div>
                        </div>
                    </div>
                    <div class="shop-search-right-product">
                        <div><img src="/pic/product1.png" alt=""></div>
                        <div class="fastShipment"><img src="/pic/fastShipment.png" alt=""></div>
                        <div class="free99"><img src="/pic/99free.png" alt=""></div>
                        <div class="shop-search-right-product-content">
                            <div class="shop-search-right-product-name">現貨秒出🔥[KOREA MOOS]3 COLOR夏季疊穿混紗薄針織背心</div>
                            <div class="additional-purchase-price"><span>加價購</span></div>
                            <div class="product-price">
                                <div class="real-price"><span>$</span><span>630</span></div>
                                <div><img src="/pic/freetruck.png" alt=""></div>
                            </div>
                            <div class="evaluation">
                                <div>已售出 6391</div>
                            </div>
                            <div class="seller-location">台中市太平區</div>
                        </div>
                    </div>
                    <div class="shop-search-right-product">
                        <div><img src="/pic/product1.png" alt=""></div>
                        <div class="fastShipment"><img src="/pic/fastShipment.png" alt=""></div>
                        <div class="free99"><img src="/pic/99free.png" alt=""></div>
                        <div class="shop-search-right-product-content">
                            <div class="shop-search-right-product-name">現貨秒出🔥[KOREA MOOS]3 COLOR夏季疊穿混紗薄針織背心</div>
                            <div class="additional-purchase-price"><span>加價購</span></div>
                            <div class="product-price">
                                <div class="real-price"><span>$</span><span>630</span></div>
                                <div><img src="/pic/freetruck.png" alt=""></div>
                            </div>
                            <div class="evaluation">
                                <div>已售出 6391</div>
                            </div>
                            <div class="seller-location">台中市太平區</div>
                        </div>
                    </div>
                    <div class="shop-search-right-product">
                        <div><img src="/pic/product1.png" alt=""></div>
                        <div class="fastShipment"><img src="/pic/fastShipment.png" alt=""></div>
                        <div class="free99"><img src="/pic/99free.png" alt=""></div>
                        <div class="shop-search-right-product-content">
                            <div class="shop-search-right-product-name">現貨秒出🔥[KOREA MOOS]3 COLOR夏季疊穿混紗薄針織背心</div>
                            <div class="additional-purchase-price"><span>加價購</span></div>
                            <div class="product-price">
                                <div class="real-price"><span>$</span><span>630</span></div>
                                <div><img src="/pic/freetruck.png" alt=""></div>
                            </div>
                            <div class="evaluation">
                                <div>已售出 6391</div>
                            </div>
                            <div class="seller-location">台中市太平區</div>
                        </div>
                    </div>
                    <div class="shop-search-right-product">
                        <div><img src="/pic/product1.png" alt=""></div>
                        <div class="fastShipment"><img src="/pic/fastShipment.png" alt=""></div>
                        <div class="free99"><img src="/pic/99free.png" alt=""></div>
                        <div class="shop-search-right-product-content">
                            <div class="shop-search-right-product-name">現貨秒出🔥[KOREA MOOS]3 COLOR夏季疊穿混紗薄針織背心</div>
                            <div class="additional-purchase-price"><span>加價購</span></div>
                            <div class="product-price">
                                <div class="real-price"><span>$</span><span>630</span></div>
                                <div><img src="/pic/freetruck.png" alt=""></div>
                            </div>
                            <div class="evaluation">
                                <div>已售出 6391</div>
                            </div>
                            <div class="seller-location">台中市太平區</div>
                        </div>
                    </div>
                    <div class="shop-search-right-product">
                        <div><img src="/pic/product1.png" alt=""></div>
                        <div class="fastShipment"><img src="/pic/fastShipment.png" alt=""></div>
                        <div class="free99"><img src="/pic/99free.png" alt=""></div>
                        <div class="shop-search-right-product-content">
                            <div class="shop-search-right-product-name">現貨秒出🔥[KOREA MOOS]3 COLOR夏季疊穿混紗薄針織背心</div>
                            <div class="additional-purchase-price"><span>加價購</span></div>
                            <div class="product-price">
                                <div class="real-price"><span>$</span><span>630</span></div>
                                <div><img src="/pic/freetruck.png" alt=""></div>
                            </div>
                            <div class="evaluation">
                                <div>已售出 6391</div>
                            </div>
                            <div class="seller-location">台中市太平區</div>
                        </div>
                    </div>
                    <div class="shop-search-right-product">
                        <div><img src="/pic/product1.png" alt=""></div>
                        <div class="fastShipment"><img src="/pic/fastShipment.png" alt=""></div>
                        <div class="free99"><img src="/pic/99free.png" alt=""></div>
                        <div class="shop-search-right-product-content">
                            <div class="shop-search-right-product-name">現貨秒出🔥[KOREA MOOS]3 COLOR夏季疊穿混紗薄針織背心</div>
                            <div class="additional-purchase-price"><span>加價購</span></div>
                            <div class="product-price">
                                <div class="real-price"><span>$</span><span>630</span></div>
                                <div><img src="/pic/freetruck.png" alt=""></div>
                            </div>
                            <div class="evaluation">
                                <div>已售出 6391</div>
                            </div>
                            <div class="seller-location">台中市太平區</div>
                        </div>
                    </div>
                    <div class="shop-search-right-product">
                        <div><img src="/pic/product1.png" alt=""></div>
                        <div class="fastShipment"><img src="/pic/fastShipment.png" alt=""></div>
                        <div class="free99"><img src="/pic/99free.png" alt=""></div>
                        <div class="shop-search-right-product-content">
                            <div class="shop-search-right-product-name">現貨秒出🔥[KOREA MOOS]3 COLOR夏季疊穿混紗薄針織背心</div>
                            <div class="additional-purchase-price"><span>加價購</span></div>
                            <div class="product-price">
                                <div class="real-price"><span>$</span><span>630</span></div>
                                <div><img src="/pic/freetruck.png" alt=""></div>
                            </div>
                            <div class="evaluation">
                                <div>已售出 6391</div>
                            </div>
                            <div class="seller-location">台中市太平區</div>
                        </div>
                    </div>
                    <div class="shop-search-right-product">
                        <div><img src="/pic/product1.png" alt=""></div>
                        <div class="fastShipment"><img src="/pic/fastShipment.png" alt=""></div>
                        <div class="free99"><img src="/pic/99free.png" alt=""></div>
                        <div class="shop-search-right-product-content">
                            <div class="shop-search-right-product-name">現貨秒出🔥[KOREA MOOS]3 COLOR夏季疊穿混紗薄針織背心</div>
                            <div class="additional-purchase-price"><span>加價購</span></div>
                            <div class="product-price">
                                <div class="real-price"><span>$</span><span>630</span></div>
                                <div><img src="/pic/freetruck.png" alt=""></div>
                            </div>
                            <div class="evaluation">
                                <div>已售出 6391</div>
                            </div>
                            <div class="seller-location">台中市太平區</div>
                        </div>
                    </div>
                    <div class="shop-search-right-product">
                        <div><img src="/pic/product1.png" alt=""></div>
                        <div class="fastShipment"><img src="/pic/fastShipment.png" alt=""></div>
                        <div class="free99"><img src="/pic/99free.png" alt=""></div>
                        <div class="shop-search-right-product-content">
                            <div class="shop-search-right-product-name">現貨秒出🔥[KOREA MOOS]3 COLOR夏季疊穿混紗薄針織背心</div>
                            <div class="additional-purchase-price"><span>加價購</span></div>
                            <div class="product-price">
                                <div class="real-price"><span>$</span><span>630</span></div>
                                <div><img src="/pic/freetruck.png" alt=""></div>
                            </div>
                            <div class="evaluation">
                                <div>已售出 6391</div>
                            </div>
                            <div class="seller-location">台中市太平區</div>
                        </div>
                    </div>
                    <div class="shop-search-right-product">
                        <div><img src="/pic/product1.png" alt=""></div>
                        <div class="fastShipment"><img src="/pic/fastShipment.png" alt=""></div>
                        <div class="free99"><img src="/pic/99free.png" alt=""></div>
                        <div class="shop-search-right-product-content">
                            <div class="shop-search-right-product-name">現貨秒出🔥[KOREA MOOS]3 COLOR夏季疊穿混紗薄針織背心</div>
                            <div class="additional-purchase-price"><span>加價購</span></div>
                            <div class="product-price">
                                <div class="real-price"><span>$</span><span>630</span></div>
                                <div><img src="/pic/freetruck.png" alt=""></div>
                            </div>
                            <div class="evaluation">
                                <div>已售出 6391</div>
                            </div>
                            <div class="seller-location">台中市太平區</div>
                        </div>
                    </div>
                    <div class="shop-search-right-product">
                        <div><img src="/pic/product1.png" alt=""></div>
                        <div class="fastShipment"><img src="/pic/fastShipment.png" alt=""></div>
                        <div class="free99"><img src="/pic/99free.png" alt=""></div>
                        <div class="shop-search-right-product-content">
                            <div class="shop-search-right-product-name">現貨秒出🔥[KOREA MOOS]3 COLOR夏季疊穿混紗薄針織背心</div>
                            <div class="additional-purchase-price"><span>加價購</span></div>
                            <div class="product-price">
                                <div class="real-price"><span>$</span><span>630</span></div>
                                <div><img src="/pic/freetruck.png" alt=""></div>
                            </div>
                            <div class="evaluation">
                                <div>已售出 6391</div>
                            </div>
                            <div class="seller-location">台中市太平區</div>
                        </div>
                    </div>
                    <div class="shop-search-right-product">
                        <div><img src="/pic/product1.png" alt=""></div>
                        <div class="fastShipment"><img src="/pic/fastShipment.png" alt=""></div>
                        <div class="free99"><img src="/pic/99free.png" alt=""></div>
                        <div class="shop-search-right-product-content">
                            <div class="shop-search-right-product-name">現貨秒出🔥[KOREA MOOS]3 COLOR夏季疊穿混紗薄針織背心</div>
                            <div class="additional-purchase-price"><span>加價購</span></div>
                            <div class="product-price">
                                <div class="real-price"><span>$</span><span>630</span></div>
                                <div><img src="/pic/freetruck.png" alt=""></div>
                            </div>
                            <div class="evaluation">
                                <div>已售出 6391</div>
                            </div>
                            <div class="seller-location">台中市太平區</div>
                        </div>
                    </div>
                    <div class="shop-search-container-right-pages">
                        <div><img src="/pic/left-arrow-gray.png" alt=""></div>
                        <div><button>1</button></div>
                        <div><button>2</button></div>
                        <div><button>3</button></div>
                        <div><button>4</button></div>
                        <div><button>5</button></div>
                        <div><button>...</button></div>
                        <div><img src="/pic/right-arrow-gray.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
     </div>
        <br><br>
        <hr class="main-page-container-hr" />
        <br><br>

        <div class="footer">
        </div>
</body>

</html>