<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/sellerhead.css}">
    <link rel="stylesheet" th:href="@{/css/MySalesList.css}">
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/js/mysales.js}"></script>
</head>

<body>
    <div th:insert="model/sellerhead::sellerhead"></div>
    <div class="sellerorder-page">
        <div class="sellerorder-container">
            <div class="sellerorder-content">
                <div class="sellerorder-content-container">
                    <div class="orderlist">
                        <div class="orderlist-title">
                            賣家銷售
                        </div>
                        <div class="orderlist-table">
                            <div class="orderlist-row orderlist-head">
                                <div class="orderlist-row-column ">商品名稱</div>
                                <div class="orderlist-row-column ">規格</div>
                                <div class="orderlist-row-column ">售出金額</div>
                                <div class="orderlist-row-column ">數量</div>
                                <div class="orderlist-row-column ">狀態</div>
                                <div class="orderlist-row-column ">操作</div>
                            </div>
                            <div class="orderlist-row orderlist-item" th:each="order : ${orderList}">
                                <div class="orderlist-row-column ">
                                    <div class="orderlist-item-prodpic ">
                                        <img th:src="@{__${order.productBean.productPhoto}__}" alt="">
                                    </div>
                                    <div class="orderlist-item-prodname">[[${order.productBean.productName}]]</div>
                                </div>
                                <div class="orderlist-row-column ">
                                    <div class="orderlist-item-prodtype-1 ">[[${order.typeValue}]]</div>
                                </div>
                                <div class="orderlist-row-column ">[[${order.total}]]</div>
                                <div class="orderlist-row-column ">[[${order.quantity}]]</div>
                                <div class="orderlist-row-column order-status ">[[${order.status}]]</div>
                                <div class="orderlist-row-column operatebtn ">
                                    <div class="button-container ">
                                        <button class="modify-button status-shipout-btn ">出貨</button>
                                        <button class="delete-button status-cancel-btn ">取消</button>
                                        <input type="hidden" name="order-id " class="order-id " th:value="${order.orderId} ">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


</html>