<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/MyCategoriesPage1.css}">
    <link rel="stylesheet" th:href="@{/css/Seller.css}">

</head>

<body>
    <div class="header-navbar-container">
        <div class="header-navbar-left">
            <div>
                <a href=""><img src="/pic/Bear.svg" alt=""></a>
            </div>
            <div>
                <div><a href="">首頁</a></div>
                <div><a href="">賣家商品</a></div>
                <div><a href="">賣家銷售</a></div>
            </div>
        </div>
        <div class="header-navbar-right">
            <div class="head-account"><img src="/pic/bear.png" alt=""><span>account1234</span></div>
            <div class="logout"><span>登出</span></div>
        </div>
    </div>
    <div class="myProduct">
        <div class="myProduct-right">
            <div class="myProduct-right-b">
                <div class="myProduct-right-b-z">

                    <div class="myProduct-right-ItemList">
                        <div class="insert-div">
                            <span class="title-span">賣家銷售</span>
                        </div>
                        <div class="myProduct-right-ItemList-bar">
                            <div class="myProduct-right-ItemList-bar-title">
                                <div class="myProduct-right-ItemList-bar-list"> 商品名稱</div>
                                <div class="myProduct-right-ItemList-bar-list-b">規格</div>
                                <div class="myProduct-right-ItemList-bar-list-b">買家應付金額</div>
                                <div class="myProduct-right-ItemList-bar-list-b">狀態</div>
                                <div class="myProduct-right-ItemList-bar-list-b">操作</div>
                            </div>
                        </div>
                        <div class="myProduct-right-ItemList-container">
                            <div class="myProduct-right-ItemList-container-body">
                                <div class="myProduct-right-ItemList-container-body-list" th:each="status1Order : ${status1Orders}">
                                    <div class="myProduct-right-ItemList-bar-list">
                                        <div class="myProduct-right-ItemList-item-prodpic">
                                            <img src="/pic/apple.svg" alt="">
                                        </div>
                                        <div class="myProduct-right-ItemList-item-prodname">[[${status1Order.productBean.productName}]]</div>
                                    </div>
                                    <div class="myProduct-right-ItemList-bar-list-a">[[${status1Order.shonpeeOrderBean.type_value1}]]</div>
                                    <div class="myProduct-right-ItemList-bar-list-a">[[${status1Order.shonpeeOrderBean.total}]]</div>

                                    <div class="myProduct-right-ItemList-bar-list-a">[[${status1Order.shonpeeOrderBean.status}]]</div>
                                    <div class="myProduct-right-ItemList-bar-list-b">
                                        <div class="button-container"><button class="modify-button">出貨</button> <button class="delete-button">取消</button> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>


</html>