<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/cartheader.css}">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="cartheader">
  <nav class="Bear-header-top">
    <div class="header-container" style=" margin-top: 0px;">
	      <div id="productcenter">
	      	    <a href="/MyProduct"> <strong>賣家中心</strong> </a> 	      
	      </div>
	      <div id="useraccount"> 
	 			<a href="/main-page/acc"><img th:src="@{/pic/account.png}" style="width: 20px" alt="">
		      	<span  th:text="${session.UserName==''||session.UserName==null?'會員帳戶':session.UserName}"></span></a>
	   	  		<a  href="/login-page" th:text="${session.UserName==''||session.UserName==null?'登入':'登出'}"></a>		     
	      </div>   	      
    </div>

  </nav>
  <nav class="Bear-header-bottom">
    <div class="Bear-header-bottom-container-cart">
      <div class="Bear-header-bottom-container-left-cart">
        <a href="/main-page">
          <div class="Bear-header-bottom-container-left-container-cart">
            <div>
              <img class="icon_Bear" th:src="@{/pic/logo.jpg}" alt="">
            </div>
            <div class="shonpee" style="font-size: 30px;">熊熊商城 ｜ 購物車</div>
          </div>
        </a>
      </div>
		<form th:action="@{/main-page/search}" method="Post">
      <div class="Bear-header-bottom-container-middle-cart">
        <div class="Bear-header-bottom-search-cart">
          <input id="searchinput" type="text" class="Bear-header-input-cart" name="searchname" placeholder="輸入搜尋文字" value="">
          <button  class="Bear-header-btn">
            <img src="../pic/Search.svg" alt="">
          </button>
        </div>
      </div>
	</form>
    </div>
  </nav>
</div>
</body>
</html>