<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/%22%3E">
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body th:fragment="footer">
<div class="footer">
<img id="footerbear" alt="" src="/pic/onlybear.png">
<img id="footertree" alt="" src="/pic/trees.png">
    <div class="footer-container" >
      <div class="about-us" >
	        <div ><b>關於我們</b></div>
	        <div style=" font-size: 14px;" ><a href="https://www.iii.org.tw/"><img class="footer-table-img" alt="" th:src="@{/pic/rightarrow.png}">台中資策會</a></div>
	        <div style=" font-size: 14px;"><a href="https://www.youtube.com/channel/UCAmAou-O23Eb-6rQWy2w0Ew"><img class="footer-table-img" alt="" th:src="@{/pic/rightarrow.png}">JAVA班成果結訓發表</a></div>
      </div>
      <div class="contract-us" >
	        <div ><b>聯繫我們</b></div>
	        <div><a href="https://github.com/bobanderic2000"><img th:src="@{/pic/github.png}"  class="footer-table-img" alt="" > bobanderic2000</a></div>
	        <div><a href="https://github.com/allen87295"><img th:src="@{/pic/github.png}"      class="footer-table-img" alt="" > allen87295</a></div> 
	        <div><a href="https://github.com/akikuma2762"><img th:src="@{/pic/github.png}"     class="footer-table-img" alt="" > akikuma2762</a></div>
	        <div><a href="https://github.com/pujun87"><img th:src="@{/pic/github.png}"         class="footer-table-img" alt="" > pujun87</a></div>
	        <div><a href="https://github.com/StjerneLai">  <img th:src="@{/pic/github.png}"    class="footer-table-img" alt="" > StjerneLai</a></div>
      </div>
  </div>
</div>
</body>
</html>