<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div th:fragment="bar" style="display: flex; justify-content: center;">
				<div class="main-right">
					<div class="titles-list">
						<a th:href="@{/main-page/shop-list-type1}"> 全部 </a>
					</div>
					<div class="titles-list" >
						<a th:href="@{/main-page/shop-list-type2}"> 待付款 </a> 
					</div>
					<div class="titles-list" >
						<a th:href="@{/main-page/shop-list-type3}"> 未出貨 </a>
					</div>

					<div class="titles-list" >
						<a th:href="@{/main-page/shop-list-type4}"> 待收貨 </a>
					</div>

					<div class="titles-list">
						<a th:href="@{/main-page/shop-list-type5}"> 完成 </a>

					</div>
					<div class="titles-list" >
						<a th:href="@{/main-page/shop-list-type6}"> 取消 </a>
					</div>
				</div>
			</div>

</body>
</html>