<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="bar" style="display: flex; justify-content: center;">
		<div class="main-right" th:each="abcd,iterStat : ${abc}">
			<a th:href="@{/main-page/shop-list-type__${iterStat.index}__}">
				<div class="titles-list" th:text="${abcd}" th:id="${iterStat.index}"></div>
			</a>
		</div>
	</div>
<!-- 	<div th:each="abcd,iterStat : ${abc}"> -->

<!-- 		<a th:href="@{/main-page/shop-list-type__${iterStat.index}__}"><div th:text="${abcd}" -->
<!-- 				th:id="${iterStat.index}"></div></a> -->
<!-- 	</div> -->

</body>
</html>